@font-face {
    font-family: 'Hangyaboly';
    src: url('../fonts/Hangyaboly.woff2') format('woff2'),
        url('../fonts/Hangyaboly.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
 --Hangyaboly: "Hangyaboly";
}

.birthday-card-main{
    width: 460px;
    height: 648px;
    border: 1px solid #E2E8F0;
    box-shadow: 0px 23.97px 23.97px -11.98px #00000005;
    border-radius: 10px;
    background-image: url("../../images/post_temp_1/post_temp_1_bg.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.post_temp_1_top_head_img{
    position: absolute;
    top: -20px;
    left: 50%;
    width: 100%;
    max-width: 400px;
    transform: translateX(-50%);
}
.main-center-img{
    background: #FFF8B7;
    width: 100%;
    max-width: 280px;
    height: 60%;
    border-radius: 50%;
    margin: 0px auto;
    padding: 10px;
    margin-top: 80px;
    position: relative;
}

.main-center-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.post_temp_1_ballon_left{
    position: absolute;
    top: 0;
    left: -100px;
    width: 150px !important;
    height: 300px !important;
    border-radius: 0% !important;
    z-index: 1;
}
.post_temp_1_ballon_right{
    position: absolute;
    top: 0;
    right: -100px;
    width: 150px !important;
    height: 300px !important;
    border-radius: 0% !important;
    z-index: 1;
}
.main-center-name-wrp{
    position: absolute;
    /*bottom: -10px;
    left: 50%;
    transform: translateX(-50%); */

    position: relative;
    width: 100% !important;
    max-width: 420px !important;
    min-width: 420px !important;
    margin: 0px auto;
    height: 130px !important;
    text-align: center;
    border-radius: 0% !important;
    margin-top: -120px !important;
}
.main-center-name-wrp img{
    width: 100%;
    height: 100%;
    border-radius: 0% !important;
}

.main-center-name-wrp h3{
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    color: #151616;
    margin-top: 60px ;
    font-size: 45px;
    min-width: 325px;
    font-family: var(--Hangyaboly);
    font-weight: 500;
}
.blue-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 372px;
    z-index: -1;
}

.birthday-card-main-content h2{
    text-align: center;
    font-family: var(--Hangyaboly);
    color: #fff;
    text-transform: capitalize;
    font-size: 50px;

    margin-bottom: -2px;
    padding-left: 90px;
}
.birthday-card-content-inner{
    border-top: 4px solid #FFFFFF;
    /* border-bottom: 4px solid #FFFFFF; */
    width: 100%;
    max-width: 380px;
    margin: 0px auto;
    margin-top: 10px;
    display: flex;
}

.birthday-card-content-inner-date{
    width: 40%;


    border-right: 4px solid #FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.birthday-card-content-inner-date h4{
    text-align: center;
    font-family: var(--Hangyaboly);
    /* border-right: 4px solid #FFFFFF; */
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;

    margin-bottom: 0px !important;
    line-height: normal;
}

.birthday-card-content-inner-date h6{
    text-align: center;
    font-family: var(--Hangyaboly);

    color: #fff;
    font-size: 40px;
    margin-bottom: 0px !important;
    line-height: normal;
}

.birthday-card-content-inner-info{
    width: 60%;
}

.birthday-card-content-inner-info p{
    text-align: center;
    font-family: var(--Hangyaboly);
    color: #fff;
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 195px;
    /* line-height: normal; */
    border-bottom: 4px solid #FFFFFF;
}

.birthday-card-content-inner-info h3{
    text-align: center;
    font-family: var(--Hangyaboly);
    color: #e3d662;
    text-transform: uppercase;
    font-size: 30px;

    /* line-height: normal; */
   margin-top: 60px;
   margin-left:250px;
    /* position: relative; */
    /* top: -2px; */
}
.footer-text{
    text-align: center;
    font-family: var(--Hangyaboly);
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;
}
