@font-face {
    font-family: 'AbrilFatface-Regular';
    src: url('../fonts/AbrilFatface-Regular.woff2') format('woff2'),
        url('../fonts/AbrilFatface-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rockwell-Bold';
    src: url('../fonts/Rockwell-Bold.woff2') format('woff2'),
        url('../fonts/Rockwell-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rockwell-regulat';
    src: url('../fonts/Rockwell.woff2') format('woff2'),
        url('Rockwell.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AgencyFB-Bold';
    src: url('../fonts/AgencyFB-Bold.woff2') format('woff2'),
        url('AgencyFB-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AgencyFB-Reg';
    src: url('../fonts/AgencyFB-Reg.woff2') format('woff2'),
        url('../fonts/AgencyFB-Reg.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
 --AbrilFatface-Regular: "AbrilFatface-Regular";
 --Roboto-Regular: "Roboto-Regular";
 --Roboto-Medium: "Roboto-Medium";
 --Roboto-Bold: "Roboto-Bold";
 --Roboto-Black: "Roboto-Black";
 --Rockwell-Bold: "Rockwell-Bold";
 --Rockwell-regulat: "Rockwell-regulat";
 --AgencyFB-Bold: "AgencyFB-Bold";
 --AgencyFB-Reg: "AgencyFB-Reg";

}

.birthday-card-main{
    width: 460px;
    height: 648px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.post_temp_4_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.birthday-card-head h2 {
    font-family: var(--AgencyFB-Reg);
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 250px;
    margin: 0px auto;
    margin-bottom: 0px;
    margin-top: 20px;
    text-transform: capitalize;
}

.birthday-card-head{
    height: 102px;
    margin-top: 20px;
}

.birthday-card-middle{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 400px;
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding-right: 30px;
}
.post_temp_4_glass_img{
    width: 100%;
    max-width: 300px;
    height: 430px;
    position: absolute;
    top: 0;
    left: 0px;
}
.birthday-card-middle-content h4{
    font-family: var(--AgencyFB-Bold);
    font-size: 24px;
    line-height: normal;
    text-align: center;
    color: #742433;
    width: 100%;
    max-width: 130px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin-bottom: 0px;
    margin: 0px auto;
    margin-bottom: 5px;
}

.birthday-card-middle-content p{
    font-family: var(--Roboto-Regular);
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
}

.birthday-card_date_time {
    width: 100%;
    max-width: 300px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 24px;
}
.birthday-card_date_time::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 35px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.birthday-card_date_time h5{
    font-family: var(--Roboto-Regular);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    width: 100%;
    max-width: 120px;
    margin: 0px auto;
}

.birthday-card-address {
    position: relative;
    z-index: 2;
    width: 100%;

    max-width: 360px;
    margin: 0px auto;
    margin-top: 30px;
    padding-top: 20px;
}
.birthday-card-address::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background: #fff;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.birthday-card-address p {
    font-family: var(--Rockwell-regulat);
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-left: 50px;
    color: #fff;
    width: 100%;
    max-width: 240px;
    margin: 0px auto;
    position: relative;
}
