* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SF Pro Display', sans-serif !important;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 68px;
    line-height: 40px;
    color: var(--secondryColor);
    font-weight: 700;
}

h2 {
    font-size: 48px !important;
    color: var(--headingColor) !important;
    line-height: 56px !important;
    font-weight: 600 !important;
    margin-bottom: 16px !important;
}


p {
    font-size: 16px;
    color: var(--lightColor);
    margin-bottom: 0 !important;
}

label {
    font-size: 12px;
    font-weight: 500 !important;
    color: var(--lightColor);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    margin-bottom: 0 !important;
}


input,
select {
    height: 48px !important;
    border: 1px solid var(--borderColor) !important;
    border-radius: 16px !important;
    -webkit-border-radius: 16px !important;
    -moz-border-radius: 16px !important;
    -ms-border-radius: 16px !important;
    -o-border-radius: 16px !important;
    padding-left: 20px !important;
    font-size: 15px;
    color: var(--secondryColor);
}


input::placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: var(--inputColor) !important;
    text-transform: capitalize;
}

input:focus,
select:focus,
textarea:focus {
    border: 1px solid var(--primaryColor) !important;
    box-shadow: 0 0 0 0.30rem rgba(247, 60, 113, .2) !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.floating-label {
    position: absolute;
    top: 50%;
    left: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.floatingfocus {
    font-size: 12px;
    color: var(--primaryColor);
    top: 0;
    left: 10px;
    background: #ffffff;
    padding: 0px 5px 0px 5px;
}

select.form-select {
    background-image: url('../image/down-arrow.svg');
}

.cmn-btn {
    padding: 12px 24px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    display: inline-block;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.cmn-btn:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    background-color: transparent !important;
    border: 1px solid var(--primaryColor) !important;
    color: var(--primaryColor) !important;
}

.cmn-btn.bg-primary {
    background-color: var(--primaryColor) !important;
    color: #fff;
    margin-left: 15px;
}


.nav-tabs {
    width: 100%;
    height: 52px;
    max-width: 100%;
    justify-content: space-between;
    background-color: var(--tabBg);
    padding: 5px 4px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    padding: 5px !important;
    border: none !important;
}

.nav-tabs .nav-item {
    width: 50%;
}

.nav-tabs .nav-link {
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 8px 25px;
    color: var(--secondryColor);
    font-weight: 600;
    outline: 0 !important;
    border: none !important;
}

.nav-tabs .nav-link.active {
    border-radius: 100px !important;
    -webkit-border-radius: 100px !important;
    -moz-border-radius: 100px !important;
    -ms-border-radius: 100px !important;
    -o-border-radius: 100px !important;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px #0000000D;
}

ul.nav-tabs .nav-link:focus {
    border: none !important;
    box-shadow: inherit !important;
}

::-webkit-scrollbar {
    display: none;
}

.modal.show .modal-dialog {
    margin-top: 0;
}

.modal-body {
    padding: 24px;
}

.radio-wrapper .form-check {
    padding-left: 0;
}

.radio-wrapper .form-check-input:checked {
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;

}

.radio-wrapper .form-check .form-check-input {
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    width: 24px !important;
    height: 24px !important;
}

.border-bottom {
    border-bottom: 1px solid var(--borderColor) !important;
    padding: 16px 0;
}

/* ==== toggle ===== */
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 45px;
    height: 24px;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ca8585;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
    content: "\f00d";
    position: absolute;
    top: 50%;
    right: 22px;
    width: 20px;
    height: 20px;
    color: red;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 5px 4px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    font-family: "Font Awesome 5 Free";
    transform: translateY(-50%);
    font-size: 13px;
    -webkit-transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    -moz-transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    -ms-transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    -o-transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked+.knobs:before {
    content: "\f00c";
    right: 4px;
    background-color: #fff;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    font-family: "Font Awesome 5 Free";
    transform: translateY(-50%);
    color: #2DA9FC;
}


#button-1 .checkbox:checked~.layer {
    background-color: #2DA9FC;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
    transition: 0.3s ease all;
}

.privacy-policy {
    padding: 100px 0;
}

/* =========== sidebar ============ */


.sidebar {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px !important;
    height: 100%;
    background-color: #fff;
    color: #fff;
    transition: right 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar-content {
    padding: 24px;
    padding-bottom: 50px;
}

.sidebar .close-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 500;
}

.overlay.visible {
    opacity: 1;
    visibility: visible;
}

.toggle-wrp h5 {
    color: var(--secondryColor);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.toggle-wrp {
    margin-bottom: 24px;
}

.sidebar .alert-box {
    background-color: rgba(35, 170, 38, 0.1);
}

.sidebar .alert-box {
    border: 1px solid #23AA26;
    border-radius: 16px;
    padding: 10px 16px 10px 16px;
}

.sidebar .alert-box p {
    color: #23AA26;
    line-height: 21px;
    font-size: 12px;
}

.sidebar .alert-box span.ms-3 svg {
    cursor: pointer;
}

.brand-progress {
    box-shadow: 0px 24px 24px -12px #00000005;
    border: 1px solid #F1F1F1;
    border-radius: 16px;
    padding: 16px;
    margin-top: 16px;
}

.brand-progress h4 {
    color: var(--secondryColor);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}


.brand-progress .progress-bar__wrapper {
    position: relative;
}

.brand-progress .progress-bar__value {
    font-size: 16px;
    font-weight: 600 !important;
    color: var(--secondryColor);
}

.brand-progress progress {
    width: 100%;
    height: 8px;
    border-radius: 50px;
    background-color: #F1F5F9;
    transition: width 300ms ease;
}

.brand-progress progress[value]::-webkit-progress-bar {
    width: 100%;
    height: 8px;
    border-radius: 50px;
    background-color: #F1F5F9;
    transition: width 300ms ease;
}

.brand-progress progress[value]::-webkit-progress-value {
    width: 0;
    border-radius: 50px;
    background-color: #E03137;
    transition: width 300ms ease;
}

.brand-progress.progress-yellow progress[value]::-webkit-progress-value {
    background-color: #FCCD1E !important;
}

.progress-bar__wrapper h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 0;
    color: var(--secondryColor);
}

#progress-bar {
    margin-bottom: 10px;
    margin-top: 16px;
}

.new-event-btn {
    border-top: 1px solid #f1f1f1;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 20;
    background-color: var(--white);
}

.new-event-btn a {
    display: block;
    margin: 20px 24px;
}

.details,
.detailspro,
.detailsdeal {
    display: none;
}


.plans-wrap {
    border: 1px solid #f1f1f1;
    border-radius: 16px;
    box-shadow: 0px 24px 24px -12px #00000005;
    padding: 16px;

}

.plans-wrap h5.heading {
    color: #23AA26;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;

}

.plans-wrap h5 {
    margin-bottom: 0px;
    color: var(--secondryColor);
    font-weight: 400;
    font-size: 20px;
}

.plans-wrap .toggleButton,
.plans-wrap .toggleButtonpro,
.plans-wrap .toggledeal {
    background-color: transparent !important;
    border: none !important;
    padding: 0;
    color: var(--secondryColor);
    font-size: 12px;
    font-weight: 600;
}

.plans-wrap .chevron {
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
    color: #94A3B8;
}


.chevron {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.rotate {
    transform: rotate(90deg);
}

.details,
.detailspro,
.detailsdeal {
    display: none;
    overflow: hidden;
}

.feauture-list {
    border-top: 1px solid var(--borderColor);
    padding-top: 16px;
    margin-top: 16px;
}

.feauture-list h5 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.feauture-list ul {
    padding-left: 0;
}

.feauture-list li {
    color: var(--secondryColor);
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 400;
}

.feauture-list li:last-child {
    margin-bottom: 0;
}

.pro-wrp h5 {
    font-weight: 700;
}

.pro-wrp h6 {
    font-size: 18px;
    line-height: 23px;
    color: var(--secondryColor);
    margin-bottom: 16px;
}

.pro-wrp {
    margin-top: 16px;
    margin-bottom: 16px;

    box-shadow: 0px 24px 24px -12px #00000005;
    /* box-shadow: 0px 12px 12px -6px #00000005;
    box-shadow: 0px 6px 6px -3px #00000005;
    box-shadow: 0px 3px 3px -1.5px #00000005;
    box-shadow: 0px 1px 1px -0.5px #00000005;
    box-shadow: 0px 0px 0px 1px #0000000D; */
}

.plans-wrap.active {
    border: 3px solid #23AA26;
}

.pro-wrp .pay-pro {
    font-size: 12px;
    margin-bottom: 10px;
    color: var(--secondryColor);
}

.pro-wrp .limited-show {
    color: #23AA26;
}

ul.cost-list li {
    position: relative;
    padding-left: 15px;
}

ul.cost-list li:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    top: 8px;
    left: 4px;
    background-color: var(--secondryColor);
}

ul.cost-list li span {
    color: #2EB67D;
}

.recomendat-plan h6 {
    font-size: 20px;
    line-height: 24px;
    color: var(--secondryColor);
    margin-bottom: 0;
}

.recomendat-plan h6 span {
    font-size: 14px;
    color: #94A3B8;

}

.recomendat-plan p {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 7px !important;
}

.container-fluid {
    padding: 0;
}

.ac-end-time {
    display: none;
}

.error-border {
    border-color: red !important;
}

.bootstrap-datetimepicker-widget {
    /* position: relative;
    position: absolute;
    z-index: 100 !important;
    background-color: #fff !important;
    height: 120px !important;
    padding: 5px !important; */
    background-color: #fff !important;
    z-index: 10;
}

.start-time {
    z-index: 3;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span {
    height: 34px !important;
    line-height: 34px !important;
    font-size: 15px !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td a,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
    height: 25px !important;
    line-height: 25px !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    min-width: 190px !important;
    z-index: 100 !important;
    background-color: #fff !important;
    height: 80px !important;
}

.modal .login-form-wrap .iti__selected-flag {
    border: 1px solid var(--borderColor);
}

.modal .login-form-wrap .iti__selected-flag {
    background-color: transparent;
    border-right: 1px solid var(--borderColor);
}

.modal .login-form-wrap .iti__flag-container {
    top: -1px;
}

.modal .login-form-wrap .input-form .iti {
    width: 80px;
}

.input-form .iti__selected-flag {
    border: 1px solid var(--borderColor);
}

.input-form .iti__selected-flag {
    background-color: transparent;
    border-right: 1px solid var(--borderColor);
}

.input-form .iti__flag-container {
    top: -1px;
}

.input-form .iti {
    width: 80px;
}

.input-form .iti .iti__selected-flag {
    height: 48px;
}

/* .input-form .input-form .iti{
    width: 83px;
} */

.end-time-wrp {
    z-index: 1;
}


.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
    background-color: var(--primaryColor);
    color: #fff;
    font-weight: bold;
    font-size: 15px !important;
    border-radius: 5px;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span {
    color: #333;
    margin-top: -1px;
    font-size: 14px !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td {
    padding: 0;
    width: 3% !important;
    height: 20px;
    line-height: 20px;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td:nth-child(2) {
    width: 1% !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    display: block;
    margin: 2px 0;
    padding: 4px;
    width: 15em !important;
}

.bootstrap-datetimepicker-widget table td {
    height: 10px !important;
    line-height: 23px !important;
    width: 54px !important;
    font-size: 14px !important;
}

.new-msg-class {}

/* ======== Responsive ========= */


@media only screen and (max-width:1499px) {
    .sidebar-content {
        padding: 24px;
        padding-bottom: 95px;
    }
}

@media only screen and (max-width:1199px) {
    h2 {
        font-size: 45px !important;
        color: var(--headingColor);
        line-height: 45px !important;
    }
}

@media only screen and (max-width:991px) {
    .cmn-btn {
        padding: 10px 15px;
    }

    h2 {
        font-size: 40px !important;
        color: var(--headingColor);
        line-height: 45px !important;
    }

}


@media only screen and (max-width:767px) {
    h1 {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 5px !important;
    }

    h2 {
        font-size: 32px !important;
        color: var(--headingColor);
        line-height: 45px !important;
    }

    p {
        font-size: 14px;
    }

    #myModal .save-btn {
        width: 100%;
    }

    .privacy-policy {
        padding: 60px 0;
    }

}

@media only screen and (max-width:575px) {
    h2 {
        font-size: 24px !important;
        color: var(--headingColor);
        line-height: 32px !important;
    }

    .modal.show .modal-dialog {
        margin: 0;
    }

    .modal-content {
        margin: 0 10px;
    }

    .sidebar {
        width: 100% !important;
        top: 117px;
        max-height: 700px;
        overflow-y: scroll;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .new-event-btn {
        margin-top: 20px;
        position: fixed;
        bottom: 0;
    }

    .sidebar-content,
    .sidebar {
        max-height: 440px !important;
    }

    .sidebar-content {
        max-width: 100% !important;
        padding-bottom: 20px;

    }

    .sidebar {
        right: -600px;
    }

    .sidebar-btn {
        display: block !important;
    }
}