.final-checkout-wrp{
    width: 100%;
}

.checkout-data{
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    padding: 16px 24px 24px 24px;
    background: var(--white);
    height: 100%;
    position: relative;
}

.checkout-data h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: var(--secondryColor);
    margin-bottom: 0;
}

.total-order-wrp{
    width: 100%;
    max-width: 350px;
    height: 100vh;
    position: sticky;
    margin-left: 19px;
}

.editable-links h5{
   margin-bottom: 0;
   font-size: 14px;
   font-weight: 500;
   color: var(--secondryColor);
   font-weight: 500;
}


.editable-links{
    gap: 16px;
    display: flex;
}

.editable-links div{
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: 5px;
    max-width: 100%;
    width: 155px;
}

.editable-links a{
    border-radius: 6px;
    padding: 5px;
    background-color: var(--tabBg);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.order-content{
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    padding: 16px 24px 24px 24px;
    background: var(--white);
    height: 100vh;
}

.order-content h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 16px;
    margin-bottom: 20px;
    color: var(--secondryColor);
}


.new_event_detail_header-right-wrp h6.green{
    color: #2EB67D !important;
}

.guest-pro h5 ~ span{
    color: #000 !important;
    background: inherit;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.invite-guest{
    display: flex;
    justify-content: space-around;
}

.invite-guest span{
    font-size: 14px;
    line-height: 23px;
    color: var(--secondryColor);
    padding: 5px 14px;
    line-height: 23px;
}

.invite-guest h5{
    color: #1C8B5C;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 34px;
    padding: 5px 32px;
}

.invite-left{
    justify-content: center;
    width: 100%;
    margin-right: 0;
}

.order-desc{
    margin-top: 8px;
}

.order-desc p{
    font-size: 14px;
    line-height: 23px;
    color: var(--secondryColor);
    font-weight: 500;
}

.order-desc p a{
    color: #FF5A5F;
    text-decoration: underline !important;
}

.guest-wrap-respo{
    display: none;
}

.editable-responsive{
    display: none;
}

.order-desc-respo{
    display: none;
}

.new-event-respo{
    display: none;
}

.edit-checkout .toggle-wrp{
    border: none;
}

.invite-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--borderColor);
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 10px 20px 0px #0000001A;
    margin-bottom: 16px;
}

.invite-link span{
    font-size: 14px;
    line-height: 24px;
    color: var(--secondryColor);
}

.invite-left-side{
    border: 1px solid var(--borderColor);
    background-color: #F1F5F9;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 7px 7px 7px 7px;
}

.invite-left-side h6{
    color: #F73C71;
    font-size: 15px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 6px;
}

.invite-left-side p{
    color: var(--secondryColor);
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0 !important;
}

.change-plan .form-check-input{
   width: 24px !important;
   height: 24px !important;
   border-radius: 8px !important;
}

.change-plan .form-check-input:focus{
    border: 1px solid #E2E8F0 !important;
    box-shadow: none !important;
}

.change-plan .form-check-input:checked{
    background-color: #2DA9FC !important;
    border-color: #2DA9FC !important;
}

.change-plan.pro-wrp h6{
    margin-bottom: 8px;
}

/* .change-plan.pro-wrp h6 span:first-child{
    color: var(--secondryColor);
    font-size: 14px;
    margin-right: 6px;
} */

.change-plan.pro-wrp h6 span{
    font-size: 14px;
    color: var(--lightColor);
    margin-left: 8px;
}

.change-plan.pro-wrp p{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px !important;
}

.membership-wrap{
    background: linear-gradient(266.99deg, #AE3BE4 -4.33%, #F73C71 124.92%);
    padding: 10px;
    border-radius: 0 0 16px 16px;
}

.membership-wrap{
    margin-bottom: 10px;
}

.membership-wrap h5{
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
    font-weight: 600;
}

.membership-wrap h6{
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    margin-left: 10px;
}

/* .confirm-downgrade .toggle-wrp{

} */

.feature-wrps h5.sub-heading{
    font-size: 17px;
    color: var(--secondryColor);
    text-align: center;
    margin-bottom: 0;
}

.feature-wrps h6{
    font-size: 18px;
    line-height: 27px;
    color: var(--secondryColor);
}

.feature-wrps .feauture-list{
    background-color: #fff;
    border: 1px solid var(--borderColor);
    box-shadow: 0px 0px 20px 0px #0000001A;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 24px;
}

.feature-lose-list h5{
    color: #EE1006;
}

.feature-lose-list.feauture-list ul.feature-lose li{
    text-decoration: line-through;
}

.plans-btns{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.plans-btns .cancel-btn{
   background-color: transparent;
   border: 1px solid var(--borderColor);
   border-radius: 16px;
   color: var(--secondryColor);
   font-size: 12px;
   font-weight: 600;
}

.plans-btns .cancel-btn:hover{
    background-color: var(--secondryColor);
    color: #fff;
}

.plans-btns .confirm-btn{
    background-color: var(--primaryColor);
    color: #fff;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 600;
}

.plans-btns .confirm-btn:hover{
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
}

.plans-btns a{
    width: 100%;
    max-width: 47%;
    transition: 0.5s;
    text-align: center;
    height: 46px;
    line-height: 26px;
}

.eventModal.deleteModal .delete-img{
    background-color: #23AA26;
}

.eventModal .google-play{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 24px;
}

.eventModal .google-play div{
    border: 1px solid var(--borderColor);
    padding: 8px;
    border-radius: 16px;
    width: 100%;
    max-width: 47%;
    height: 70px;
}

.eventModal .google-play h6{
    font-size: 20px;    
    font-weight: 500;
    color: #000;
    line-height: 23px;
    margin-bottom: 0;
}

.plans-wrap.recomendat-plan.change-plan .rcomand-text{
    background-color: #FFEAF3;
    border-radius: 100px;
    padding: 8px;
    font-size: 10px;
    line-height: 18px;
    color: #E73080;
    font-weight: 700;
    margin-left: 10px;
    height: 27px;
    line-height: 10px;
}

.recomend-pro-paln{
    background: linear-gradient(266.99deg, #AE3BE4 -4.33%, #F73C71 124.92%);
    border-radius: 100px;
    gap: 4px;
    padding: 7px 8px 7px 8px;
}

.recomend-pro-paln h5{
    font-size: 8px;
    color: #fff;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 0;
}

.setting-img{
    max-width: 500px;
    margin: 30px auto 0;
}

.setting-img img{
    width: 100%;
    height: 100%;
}

.activity-schedule-inner .accordion{
    position: relative;
    z-index: 0;
}

@media only screen and (max-width:991px){
    .editable-links{
        display: none;
    }
    
    .editable-responsive{
        display: flex;
        margin-top: 16px;
    }

    .guest-wrap-respo{
        display: block;
        margin-top: 15px;
    }

    .total-order-wrp{
        display: none;
    }
    
    .order-desc-respo{
        display: block !important;
    }

    .order-desc{
        display: none;
    }
    
    .new-event-respo{
        display: block;
        position: inherit;
        margin-top: 0;
    }
}

@media only screen and (max-width:575px){
    .invite-guest span{
        padding: 5px 9px;
    }
}