.choose-design-form form h3 {
    border-bottom: 1px solid var(--headerBorder);
    padding-bottom: 16px;
}

.choose-design-search {
    position: relative;
}

.choose-design-search span {
    width: 100%;
    max-width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: var(--secondryColor);
}

.choose-design-search span svg {
    width: 100%;
    height: 100%;
}

.choose-design-seachicon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.choose-design-seachicon.floatingfocus {
    right: 20px !important;
    left: auto;
    padding: 0px;
}

.choose-design-cards-wrp .breadcrumb {
    margin-bottom: 0px;
}

.choose-design-cards-wrp .breadcrumb-item,
.choose-design-cards-wrp .breadcrumb-item a {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    color: var(--secondryColor) !important;
}

.choose-design-cards-wrp nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choose-design-cards-wrp nav h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    color: var(--secondryColor);
    margin-bottom: 0px;
}

.choose-design-cards {
    margin-top: 20px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
}

.design-card {
    width: 100%;
    max-width: 145px;
    min-width: 145px;
    height: 210px;
    border-radius: 10px;
}

.design-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.choose-design-search-setting {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.setting-category-wrp {
    width: 100%;
    max-width: 350px;
    height: 100%;
    border: 1px solid var(--borderColor);
    border-radius: 20px;
    padding: 16px 24px 24px 24px;
    background: var(--white);
}

.choose-design-sidebar {
    width: 100%;
    max-width: 350px;
    height: 100%;
    position: relative;
    border-radius: 20px;
    margin-left: 16px;
}

.choose-design-form .close-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.setting-category-wrp h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    color: var(--secondryColor);
    text-transform: capitalize;
    margin-bottom: 16px;
}

.setting-category-wrp.activity-schedule-inner .accordion-item {
    margin-bottom: 20px;
}

.setting-category-wrp.activity-schedule-inner .accordion-button {
    background-color: transparent !important;
    padding: 0px !important;
}

.setting-category-wrp.activity-schedule-inner .accordion-body ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.setting-category-wrp.activity-schedule-inner .accordion-body {
    padding: 20px;
    border: 1px solid var(--borderColor) !important;
    border-radius: 16px !important;
    background-color: transparent !important;
    margin-top: 16px;
}

.setting-category-wrp.activity-schedule-inner .accordion-collapse {
    background-color: transparent !important;
}

.setting-category-wrp.activity-schedule-inner .accordion-body ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: var(--secondryColor);
}

.setting-category-wrp.sidebar {
    position: relative;
}

.choose-design-search-setting svg {
    cursor: pointer;
}

.choose-design-sidebar .accordion-button .fa-angle-down {
    color: #94A3B8;
    font-size: 16px;
}

.choose-design-modal .modal-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--secondryColor);
}

.modal-design-card {
    width: 100%;
    max-width: 460px;
    /* height: 560px; */
    border: 1px solid var(--borderColor);
    box-shadow: 0px 23.97px 23.97px -11.98px #00000005;
    border-radius: 10px;
    margin: 0px auto;
}

.modal-design-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.choose-design-modal .modal-content {
    width: 100%;
    max-width: 530px;
    margin: 0px auto;
}

.choose-design-modal .modal-body {
    padding-top: 20px !important;
}

.modal-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    width: 100%;
}

.modal-btn button {
    width: 100%;
}


@media only screen and (max-width: 1399px) {
    .design-card {
        max-width: 130px;
        min-width: 130px;
    }

    .modal-design-card {
        width: 100%;
        max-width: 280px;
        height: 440px;
    }

    .choose-design-modal .modal-content {
        width: 100%;
        max-width: 370px;
        margin: 0px auto;
    }
}

@media only screen and (max-width: 1199px) {
    .design-card {
        max-width: 120px;
        min-width: 120px;
    }

    .choose-design-cards {
        gap: 14px;
    }
}

@media only screen and (max-width: 991px) {
    .design-card {
        max-width: 145px;
        min-width: 145px;
    }

    .choose-design-cards {
        gap: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .design-card {
        max-width: 140px;
        min-width: 140px;
    }

    .choose-design-sidebar {
        position: fixed !important;
        max-width: 100%;
        top: 150px;
        overflow-y: auto;
        max-height: 510px;
    }

    .setting-category-wrp {
        max-width: 100%;
    }

    .choose-design-form .new-event-sidebar-head {
        border-bottom: none;
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 575px) {
    .modal-dialog {
        display: flex;
        align-items: end;
        max-width: 100% !important;
    }

    .choose-design-modal .modal-content {
        width: 100%;
        max-width: 100%;
        margin: 0px !important;
        border: none !important;
    }

    .choose-design-modal .modal-content {
        border-radius: 20px 20px 0px 0px !important;
    }

    .choose-design-modal .modal-title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 424px) {
    .design-card {
        max-width: 120px;
        min-width: 120px;
    }

    .choose-design-cards {
        gap: 10px;
    }
}