.setting-wrp {
    width: 100%;
    /* height: 100vh; */
}

.setting-content {
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    padding: 16px 24px 24px 24px;
    background: var(--white);
    height: 100%;
    position: relative;
}

.setting-content h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 16px;
    margin-bottom: 0;
}

.setting-accordion-wrp {
    background-color: #F8F9FD;
}

.setting-accordion-wrp .accordion-item {
    margin-bottom: 15px;
    border: none;
}

.setting-accordion-wrp .accordion-item:last-child {
    margin-bottom: 0;
}

.setting-accordion-wrp .accordion-button,
.setting-accordion-wrp .accordion-btn {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 16px;
    border-radius: 0 !important;
    margin-bottom: 16px;
}

.setting-accordion-wrp .accordion-header {
    margin-bottom: 0 !important;
    padding-top: 20px;

}

.setting-accordion-wrp .accordion-body {
    padding: 0;
    /* max-height: 400px;
    overflow-y: scroll; */
}

.setting-accordion-wrp .accordion-button h5,
.setting-accordion-wrp .accordion-btn h5 {
    color: var(--secondryColor);
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 0;
}

.setting-accordion-wrp .accordion-button h6,
.setting-accordion-wrp .accordion-btn h6 {
    margin: 0 15px 0 auto;
    color: var(--lightColor);
    font-size: 14px;
}

.setting-accordion-wrp .accordion-button span,
.setting-accordion-wrp .accordion-btn span {
    margin-right: 12px;
    line-height: 10px;
}

.setting-accordion-wrp .accordion-button img,
.setting-accordion-wrp .accordion-btn img {
    max-width: 18px;
}

.setting-accordion-wrp .accordion-body p {
    color: #475569;
    font-weight: 500;
    margin-right: 10px;
    font-size: 17px;
}

.setting-accordion-wrp .accordion-body p strong {
    color: var(--secondryColor) !important;
    font-weight: 500 !important;
}

.setting-accordion-wrp .accordion-con {
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.setting-accordion-wrp .accordion-con:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.setting-content .layer {
    background-color: #E2E8F0;
}

.setting-content #button-1 .knobs:before {
    content: "\f068";
    color: #E2E8F0;
}

.setting-accordion-wrp .accordion-con p.title strong {
    font-weight: 600 !important;
}


.guest-checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    background-color: #fff;
    padding: 5px;
    position: sticky;
    bottom: 30px;
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    text-align: center;
    /* left: 50%;
    transform: translateX(-50%); */
    padding-left: 16px;
    z-index: 10;
}

.guest-checkout-respo {

    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    background-color: #fff;
    padding: 5px;
    padding-left: 16px;
    border-radius: 0;
    display: none;
}


.guest-checkout h5,
.guest-checkout-respo h5 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.setting-accordion-wrp .toggle-button-cover {
    margin-left: 20px;
}

.add-limit {
    background-color: #F8F9FD;
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    padding: 16px;
    display: block;
    margin-top: 10px;
}

.add-limit h5 {
    color: var(--secondryColor);
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 4px;
}

.setting-sidebar .limits-count {
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.limits-count h5 {
    color: var(--secondryColor);
    font-size: 15px;
    margin-bottom: 0;
}

.limits-count .qty-container {
    border: none;
    padding: 0;
    height: auto;
}



.limits-count .qty-container input {
    width: 50px;
}

.limits-count .qty-container button {
    background-color: #2DA9FC;
    border: 1px solid transparent;
    line-height: 26px;
    font-size: 12px;
}

.setting-sidebar .toggle-wrp {
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 10px;
}

.thank-you-card {
    display: flex;
    align-items: center;
    padding-top: 16px;
    margin-bottom: 16px;
}

.thank-you-card:last-child {
    margin-bottom: 0;
}

.thank-you-card h5 {
    color: var(--secondryColor);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
}

.thank-you-card p {
    font-size: 12px;
    line-height: 20px;
    max-width: 300px;
}

.thank-you-card .form-check-input {
    width: 20px !important;
    height: 20px !important;
    border-radius: 7px !important;

}

.thank-you-card .form-check-input:focus {
    border: 1px solid #E2E8F0 !important;
    box-shadow: none !important;
}

.thank-you-card .form-check-input:checked {
    background-color: #2DA9FC !important;
    border-color: #2DA9FC !important;
}

/* .message-textarea input{
        max-height: 146px;
    } */

.message-textarea input {
    max-height: 139px;
    overflow-y: scroll;
}

.message-textarea .floating-label {
    top: 0;
    background: #fff;
    padding: 0 6px;
}

.co-host-sidebar .guest-contacts-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.co-host-sidebar .guest-contact .guest-name {
    color: var(--secondryColor);
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 6px;
    max-width: 100%;
}

.co-host-sidebar .guest-contact .guest-img {
    text-align: center;
}

.trgistry-content {
    border-bottom: 1px solid var(--borderColor);
    padding: 16px 0;
}

.trgistry-content:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.trgistry-content h5 {
    font-size: 14px;
    color: var(--secondryColor);
    line-height: 23px;
    font-weight: 600;
    margin-bottom: 3px;
}

.trgistry-content a {
    color: var(--lightColor);
    font-size: 12px;
    line-height: 20px;
}

.registry-form span.sub-con {
    position: absolute;
    right: 30px;
    top: 35% !important;
    transform: translateY(-50%) !important;
    color: var(--lightColor);
    font-size: 14px;
    line-height: 23px;
    width: 20px;
    margin-left: auto;
}

.item-dishes-toggle h5 {
    color: var(--secondryColor);
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

.item-dishes-toggle .layer {
    background-color: #E2E8F0;
}

.item-dishes-toggle .knobs:before {
    content: "\f068" !important;
    color: #E2E8F0 !important;
}

.total-quantity {
    margin-top: 20px;
}

.total-quantity h5 {
    font-size: 14px;
    line-height: 22px;
    color: var(--secondryColor);
    font-weight: 500;
    margin-bottom: 10px;
}

.total-quantity input {
    width: 84%;
}

.total-quantity .qty-container button {
    background-color: #2DA9FC;
    border: 1px solid transparent;
    line-height: 26px;
    font-size: 12px;
}

.item-on {
    display: flex;
    align-items: center;
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    padding: 16px 10px 16px 10px;
}

.item-on .qty-container button {
    width: 18px;
    height: 18px;
    background-color: #CBD5E1;
    color: #fff;
    border: 1px solid transparent;
    line-height: 20px;
    font-size: 12px;
}

.item-on .qty-container {
    border: none;
    padding: 0;
    margin-right: 12px !important;
    height: 23px;
}

.item-on input {
    width: 30px;
}

.item-on img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: 10px;
}

.item-on h5 {
    display: flex;
    font-size: 12px;
    line-height: 20px;
    color: var(--secondryColor);
    margin-bottom: 0;
}

.potluck-category {
    margin-top: 24px;
}

.potluck-category h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: var(--secondryColor);
    margin-bottom: 0;
}

.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-header h6 {
    font-size: 12px;
    line-height: 20px;
    color: #E20B0B;
    margin-bottom: 0;
}

.list-header h5 {
    font-size: 14px;
    font-weight: 600;
    color: var(--secondryColor);
    line-height: 24px;
}

.list-header p {
    font-size: 10px;
    color: var(--lightColor);
    line-height: 16px;
}

.category-list .list-sub-head {
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E2E8F0;
    color: var(--secondryColor);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    margin-right: 8px !important;
}

.category-main-dishesh {
    margin-top: 16px;
    background-color: #F8F9FD;
    border-radius: 16px;
    padding: 16px;
}

.list-body {
    padding: 14px;
    margin: 10px 0;
}

.list-body p {
    font-size: 12px;
    line-height: 20px;
    color: var(--lightColor);
}

.accordion-item {
    padding: 10px;
}

.accordion-item.red-border {
    border: 1px solid #FF5A5F !important;
    border-radius: 10px !important;
    box-shadow: 0px 2px 10px 0px #0000000D;
}

.accordion-item.green-border {
    border: 1px solid #34C05C !important;
    border-radius: 10px !important;
    box-shadow: 0px 2px 10px 0px #0000000D;
}

.list-slide .accordion-item {
    margin-top: 16px !important;
}

.list-slide .accordion-header {
    margin-bottom: 0 !important;
}

.list-slide .accordion-button,
.list-slide .accordion-btn {
    display: flex;
    justify-content: space-between;
    padding: 0;
    box-shadow: none !important;
    outline: 0 !important;
    background-color: #fff;
}

.list-slide .accordion-button h5,
.list-slide .accordion-btn h5 {
    font-size: 12px;
    font-weight: 600;
    color: var(--secondryColor);
    line-height: 20px;
    margin-bottom: 5px;
}


.list-slide .accordion-button p,
.list-slide .accordion-btn p {
    font-size: 10px;
    line-height: 10px;
    color: var(--lightColor);
}

.list-slide .accordion-button h6,
.list-slide .accordion-btn h6 {
    font-size: 14px;
    font-weight: 500;
    color: var(--secondryColor);
    line-height: 24px;
    margin-bottom: 0;
    margin-right: 20px;
}

.list-slide .accordion-body {
    padding: 0;
}

.list-slide .accordion-body .accordion-body-content {
    display: flex;
    align-items: center;
}

.list-slide .accordion-body .accordion-body-content {
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: 10px;
}

.list-slide .accordion-body img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: 10px;
}

.list-slide .accordion-body h5 {
    font-size: 12px;
    line-height: 20px;
    color: var(--secondryColor);
}

.list-slide .accordion-body span {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #F8F9FD;
    border: 1px solid var(--borderColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 16px;
    color: var(--secondryColor);
}

.list-slide .accordion-button::after {
    background-image: url('../image/add.svg') !important;
    margin-left: 0;
}

.list-slide .accordion-body-content {
    margin-bottom: 10px;
}

.list-slide .accordion-body-content:last-child {
    margin-bottom: 0;
}

.list-slide .accordion-body-content .qty-container button {
    width: 18px;
    height: 18px;
    background-color: #CBD5E1;
    color: #fff;
    border: 1px solid transparent;
    line-height: 20px;
    font-size: 12px;
    margin-right: 13px;
    height: 20px;
}

.list-slide .accordion-body-content .qty-container input {
    max-width: 30px;
}

.list-slide .accordion-body-content .qty-container .qty-btn-minus {
    margin: 0;
}

.listing-arrow {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    display: block;
}

.category-main-dishesh {
    margin-bottom: 16px;
}

.category-main-dishesh:last-child {
    margin-bottom: 0;
}

.missing-green {
    color: #009B3A !important;
}

.list-header .dropdown {
    background-color: transparent;
    box-shadow: none;
}

.list-header .dropdown h6 {
    color: var(--secondryColor);
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

.list-header .dropdown-toggle::after {
    display: none;
}

.list-slide .accordion-button .fa-plus {
    color: #34C05C;
    font-size: 14px;
}


.list-slide .accordion-button::after {
    display: none;
}

/* ============= modal ============ */
.deleteModal .delete-img {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: #E03137;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteModal .modal-header {
    margin-bottom: 5px;
    border: none !important;
}

.deleteModal .modal-body {
    padding-top: 0;
    padding-bottom: 20px;
}

.deleteModal .modal-body h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: var(--secondryColor);
    margin-bottom: 10px;
    text-align: center;
}

.deleteModal .modal-body p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.deleteModal .modal-footer {
    padding: 0 24px 24px;
    justify-content: space-between;
    border: none;
}

.deleteModal .modal-footer button {
    width: 100%;
    max-width: 47%;
    transition: 0.5s;
}

.deleteModal .modal-content {
    max-width: 400px;
    border-radius: 30px;
}

.deleteModal .cancel-btn {
    background-color: transparent;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    color: var(--secondryColor);
    font-size: 12px;
    font-weight: 500;
}

.deleteModal .cancel-btn:hover {
    background-color: var(--secondryColor);
    color: #fff;
}

.deleteModal .continue-btn {
    background-color: var(--primaryColor);
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
}

.deleteModal .continue-btn:hover {
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
}

.setting-accordion-wrp .accordion-button {
    background-color: transparent !important;
}

.setting-main-content {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.step_final_checkout .container-fluid {
    padding: 0;
}

.deleteModal .cancel-btn-createEvent {
    border: 1px solid #f1f1f1 !important;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
}

.cancel-btn {
    background-color: transparent;
    border: 1px solid var(--borderColor);
    color: var(--primaryColor);
}

.potluck-category .potluckmain-0 .accordion-button:not(.collapsed) {
    background-color: white !important;
}

.item-dishesh-sidebar {
    padding: 30px;
}


.no-border-css {
    border: none !important;
}

.no-border-css .input-form {
    margin-bottom: 0px !important;
}

.add-item-head-wrp {
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 10px;
}


.add-category-new-wrp {
    border: none !important;
}

.add-category-new-wrp .input-form {
    margin-bottom: 10px !important;
}

.add-category-new-wrp .input-form label {
    display: inline-block !important;
}

.add-category-new-wrp .qty-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sidebar_add_thankyou_card {
    padding: 30px;
}

.no-border-wrp {
    border: none !important;
}

.no-border-wrp .input-form {
    margin-bottom: 10px !important;
}

.no-border-wrp .input-form label {
    display: inline-block !important;
}

.event-created-modal .modal-body h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: var(--secondryColor);
    margin-bottom: 10px;
    text-align: center;
    max-width: 275px;
    margin: 0px auto;
}

.event-created-modal .google-play span>a {
    height: 50px;
    display: block;
}

.event-created-modal .modal-footer {
    flex-wrap: nowrap !important;
}

.event-created-modal .modal-footer button,
.event-created-modal .modal-footer a {
    width: 100% !important;
    max-width: 100% !important;
}

.new-guest-content-wrp {
    overflow: hidden;
}

.new-guest-content-wrp .user-contacts {
    max-height: 100% !important;
}

/* ============ responsive ============ */
@media only screen and (max-width:991px) {
    .guest-checkout-respo {
        display: flex;
    }

    .guest-checkout {
        position: fixed;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        left: 0;
        border-radius: 0px;
    }

    .setting-main-content .main-content-sidebar {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .sidebar.setting-side-wrp {
        top: auto;
        bottom: 0;
    }
}

@media only screen and (max-width: 452px) {
    .total-quantity input {
        width: 100%;
        max-width: 74%;
    }

    .total-quantity .qty-container {
        text-align: center;
    }

    .item-on h5 {
        max-width: 85px;
        word-break: break-all;
    }

    .item-on input {
        width: 18px;
    }

    .list-slide .accordion-body h5 {
        max-width: 85px;
        word-break: break-all;
    }
}

@media only screen and (max-width:375px) {
    .list-slide .accordion-body-content .qty-container button {
        margin-right: 4px;
    }
}

@media only screen and (max-width:340px) {
    .list-slide .accordion-body-content .qty-container input {
        max-width: 8px;
    }

    #Bruschetta-collapseOne .qty-container .me-3 {
        margin-right: 8px !important;
    }

    .list-slide .accordion-body h5 {
        max-width: 57px;
        word-break: break-all;
    }

    .deleteModal .modal-footer button {
        max-width: 46%;
    }

}