@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('./../../fonts/JosefinSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AbrilFatface';
    src: url('./../../fonts/AbrilFatface-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AgencyFB';
    src: url('./../../fonts/AgencyFB-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AdleryPro';
    src: url('./../../fonts/AdleryPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BotanicaScript-Regular';
    src: url('./../../fonts/BotanicaScript-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Allura';
    src: url('./../../fonts/Allura-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antaresia';
    src: url('./../../fonts/Antaresia.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer';
    src: url('./../../fonts/Archer-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Archer-Book';
    src: url('./../../fonts/Archer-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-BookItalic';
    src: url('./../../fonts/Archer-BookItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-ExtraLight';
    src: url('./../../fonts/Archer-ExtraLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-Hairline';
    src: url('./../../fonts/Archer-Hairline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas-Regular';
    src: url('./../../fonts/Bebas-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BookAntiqua';
    src: url('./../../fonts/BookAntiqua.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bungee-Regular';
    src: url('./../../fonts/Bungee-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CandyCaneUnregistered';
    src: url('./../../fonts/CandyCaneUnregistered.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CarbonBl-Regular';
    src: url('./../../fonts/CarbonBl-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CarmenSans-ExtraBold';
    src: url('./../../fonts/CarmenSans-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CarmenSans-Regular';
    src: url('./../../fonts/CarmenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ChristmasCookies';
    src: url('./../../fonts/ChristmasCookies.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlexBrush';
    src: url('./../../fonts/AlexBrush-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Botanica Script';
    src: url('./../../fonts/BotanicaScript-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --AbrilFatface-Regular: "AbrilFatface-Regular";
    --Roboto-Regular: "Roboto-Regular";
    --Roboto-Medium: "Roboto-Medium";
    --Roboto-Bold: "Roboto-Bold";
    --Roboto-Black: "Roboto-Black";
    --Rockwell-Bold: "Rockwell-Bold";
    --Rockwell-regulat: "Rockwell-regulat";
    --AgencyFB-Bold: "AgencyFB-Bold";
    --AgencyFB-Reg: "AgencyFB-Reg";

}