@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('https://yesvite.com/assets/fonts/JosefinSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AbrilFatface-Regular';
    src: url('https://yesvite.com/assets/fonts/AbrilFatface-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AdleryPro-Regular';
    src: url('https://yesvite.com/assets/fonts/AdleryPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AgencyFB-Bold';
    src: url('https://yesvite.com/assets/fonts/AgencyFB-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'BotanicaScript-Regular';
    src: url('https://yesvite.com/assets/fonts/BotanicaScript-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Allura-Regular';
    src: url('https://yesvite.com/assets/fonts/Allura-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antaresia';
    src: url('https://yesvite.com/assets/fonts/Antaresia.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArcherBold';
    src: url('https://yesvite.com/assets/fonts/Archer-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Archer-Book';
    src: url('https://yesvite.com/assets/fonts/Archer-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-BookItalic';
    src: url('https://yesvite.com/assets/fonts/Archer-BookItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-ExtraLight';
    src: url('https://yesvite.com/assets/fonts/Archer-ExtraLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-Hairline';
    src: url('https://yesvite.com/assets/fonts/Archer-Hairline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas-Regular';
    src: url('https://yesvite.com/assets/fonts/Bebas-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BookAntiqua';
    src: url('https://yesvite.com/assets/fonts/BookAntiqua.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bungee-Regular';
    src: url('https://yesvite.com/assets/fonts/Bungee-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CandyCaneUnregistered';
    src: url('https://yesvite.com/assets/fonts/CandyCaneUnregistered.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CarbonBl-Regular';
    src: url('https://yesvite.com/assets/fonts/CarbonBl-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CarmenSans-ExtraBold';
    src: url('https://yesvite.com/assets/fonts/CarmenSans-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CarmenSans-Regular';
    src: url('https://yesvite.com/assets/fonts/CarmenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ChristmasCookies';
    src: url('https://yesvite.com/assets/fonts/ChristmasCookies.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlexBrush-Regular';
    src: url('https://yesvite.com/assets/fonts/AlexBrush-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AdleryPro';
    src: url('https://yesvite.com/assets/fonts/new/AdleryPro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArialRoundedMTBold';
    src: url('https://yesvite.com/assets/fonts/new/ArialRoundedMTBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('https://yesvite.com/assets/fonts/new/BebasNeue-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('https://yesvite.com/assets/fonts/new/Calibri.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CCHammerHorror-BoldItalic';
    src: url('https://yesvite.com/assets/fonts/new/CCHammerHorror-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CCThatsAllFolks-Bold';
    src: url('https://yesvite.com/assets/fonts/new/CCThatsAllFolks-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Changa-ExtraBold';
    src: url('https://yesvite.com/assets/fonts/new/Changa-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ChristmasMint-Regular';
    src: url('https://yesvite.com/assets/fonts/new/ChristmasMint-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CinderelaPersonalUse-Regular';
    src: url('https://yesvite.com/assets/fonts/new/CinderelaPersonalUse-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Claiborne';
    src: url('https://yesvite.com/assets/fonts/new/Claiborne.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corporative-Regular';
    src: url('https://yesvite.com/assets/fonts/new/Corporative-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'foolish-Regular';
    src: url('https://yesvite.com/assets/fonts/new/foolish-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GrandHotel-Regular';
    src: url('https://yesvite.com/assets/fonts/new/GrandHotel-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Joshico-Regular';
    src: url('https://yesvite.com/assets/fonts/new/Joshico-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KaffeesatzEF-Schwarz';
    src: url('https://yesvite.com/assets/fonts/new/KaffeesatzEF-Schwarz.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KanedaGothic-Bold';
    src: url('https://yesvite.com/assets/fonts/new/KanedaGothic-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KanedaGothic-Medium';
    src: url('https://yesvite.com/assets/fonts/new/KanedaGothic-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KavarianSerif';
    src: url('https://yesvite.com/assets/fonts/new/KavarianSerif.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MelonScriptW00-CondRegular';
    src: url('https://yesvite.com/assets/fonts/new/MelonScriptW00-CondRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('https://yesvite.com/assets/fonts/new/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NautilusPompilius';
    src: url('https://yesvite.com/assets/fonts/new/NautilusPompilius.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OvinkRegular';
    src: url('https://yesvite.com/assets/fonts/new/OvinkRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rither';
    src: url('https://yesvite.com/assets/fonts/new/Rither.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Semringah';
    src: url('https://yesvite.com/assets/fonts/new/Semringah.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SittingDuckDEMO-Regular';
    src: url('https://yesvite.com/assets/fonts/new/SittingDuckDEMO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SundayBest-Regular';
    src: url('https://yesvite.com/assets/fonts/new/SundayBest-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YippieYeah-Sans';
    src: url('https://yesvite.com/assets/fonts/new/YippieYeah-Sans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AdleryPro-Regular';
    src: url('https://yesvite.com/assets/fonts/new/AdleryPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arboria-Bold';
    src: url('https://yesvite.com/assets/fonts/new/Arboria-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arboria-Book';
    src: url('https://yesvite.com/assets/fonts/new/Arboria-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arboria-Light';
    src: url('https://yesvite.com/assets/fonts/new/Arboria-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arboria-Thin';
    src: url('https://yesvite.com/assets/fonts/new/Arboria-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arboria-Medium';
    src: url('https://yesvite.com/assets/fonts/new/Arboria-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin-Regular';
    src: url('https://yesvite.com/assets/fonts/new/Cabin-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Candara-Bold';
    src: url('https://yesvite.com/assets/fonts/new/Candara-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Candara';
    src: url('https://yesvite.com/assets/fonts/new/Candara.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonText-Bold';
    src: url('https://yesvite.com/assets/fonts/new/CrimsonText-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonText-BoldItalic';
    src: url('https://yesvite.com/assets/fonts/new/CrimsonText-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonText-Italic';
    src: url('https://yesvite.com/assets/fonts/new/CrimsonText-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonText-Regular';
    src: url('https://yesvite.com/assets/fonts/new/CrimsonText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonText-SemiBold';
    src: url('https://yesvite.com/assets/fonts/new/CrimsonText-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonText-SemiBoldItalic';
    src: url('https://yesvite.com/assets/fonts/new/CrimsonText-SemiBoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'QTMerryScript';
    src: url('https://yesvite.com/assets/fonts/new/QTMerryScript.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rockwell-Condensed';
    src: url('https://yesvite.com/assets/fonts/new/Rockwell-Condensed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rockwell-CondensedBold';
    src: url('https://yesvite.com/assets/fonts/new/Rockwell-CondensedBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tangerine-Regular';
    src: url('https://yesvite.com/assets/fonts/new/Tangerine-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tangerine-Bold';
    src: url('https://yesvite.com/assets/fonts/new/Tangerine-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlternateGotNo2D';
    src: url('https://yesvite.com/assets/fonts/new/AlternateGotNo2D.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CaveatBrush-Regular';
    src: url('https://yesvite.com/assets/fonts/new/CaveatBrush-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ModernLove-Regular';
    src: url('https://yesvite.com/assets/fonts/new/ModernLove-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText-Bold';
    src: url('https://yesvite.com/assets/fonts/new/NeueHaasGroteskText-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText-Medium';
    src: url('https://yesvite.com/assets/fonts/new/NeueHaasGroteskText-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText-Regular';
    src: url('https://yesvite.com/assets/fonts/new/NeueHaasGroteskText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PTSansPro-Regular';
    src: url('https://yesvite.com/assets/fonts/new/PTSansPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('https://yesvite.com/assets/fonts/new/Times New Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --AbrilFatface-Regular: "AbrilFatface-Regular";
    --Roboto-Regular: "Roboto-Regular";
    --Roboto-Medium: "Roboto-Medium";
    --Roboto-Bold: "Roboto-Bold";
    --Roboto-Black: "Roboto-Black";
    --Rockwell-Bold: "Rockwell-Bold";
    --Rockwell-regulat: "Rockwell-regulat";
    --AgencyFB-Bold: "AgencyFB-Bold";
    --AgencyFB-Reg: "AgencyFB-Reg";

}