@font-face {
    font-family: 'AbrilFatface-Regular';
    src: url('../fonts/AbrilFatface-Regular.woff2') format('woff2'),
        url('../fonts/AbrilFatface-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Rockwell-regulat';
    src: url('../fonts/Rockwell.woff2') format('woff2'),
        url('Rockwell.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'RocknRollOne-Regular';
    src: url('../fonts/RocknRollOne-Regular.woff2') format('woff2'),
        url('RocknRollOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



:root{
 --AbrilFatface-Regular: "AbrilFatface-Regular";
 --Rockwell-Bold: "Rockwell-Bold";
 --Rockwell-regulat: "Rockwell-regulat";
 --RocknRollOne-Regular: "RocknRollOne-Regular";

}

.birthday-card-main{
    width: 460px;
    height: 648px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.post_temp_3_bg_img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.birthday-card-head{
    position: relative;
    z-index: 2;
    margin-top: 55px;
}

.birthday-card-head h4{
    position: relative;
    z-index: 2;
    font-family: var(--RocknRollOne-Regular);
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 250px;
    height: 100%;
    margin: 0px auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0px;
    text-transform: capitalize;
}
.birthday-card-head h4 span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;

}
.birthday-card-head h4 span img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.birthday-card-head p{
    font-family: var(--RocknRollOne-Regular);
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-top: 5px;
}

.birthday-card-middle{
    position: relative;
    z-index: 2;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 0px auto;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.post_temp_3_circle_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.birthday-card-middle h3 {
    font-family: var(--AbrilFatface-Regular);
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #fff !important;
    width: 100%;
    max-width: 180px;
    margin: 0px auto;
}

.birthday-card-date-time{
    position: relative;
    z-index: 2;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.birthday-card-date-time-inner{
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 180px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.post_temp_3_squar_img{
    width: 100%;
    max-width: 180px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.birthday-card-date-time h5{
    font-family: var(--RocknRollOne-Regular);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    width: 100%;
    max-width: 150px;
    height: 60px;
    margin: 0px auto;
    
}

.birthday-card-address {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 360px;
    margin: 0px auto;
    margin-top: 40px;
}
.birthday-card-address p {
    font-family: var(--Rockwell-regulat);
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 240px;
    margin: 0px auto;
    position: relative;
    top: 30px;
}
.post_temp_3_footer_img{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 200px;
}