.toggle-wrp h5 {
    color: var(--secondryColor);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.choose-design-form .close-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.edit-imag-main-content-wrp input[type="search"] {
    height: 48px !important;
    padding-left: 20px;
    width: 100% !important;
    outline: 0;
}

.edit-imag-main-content-wrp input[type="search"]~span {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 10px;
    z-index: 0;
    margin-left: auto;
}

.toggle-wrp {
    margin-bottom: 24px;
}

.edit-imag-main-content-wrp input,
.edit-imag-main-content-wrp select {
    height: 48px !important;
    border: 1px solid #E2E8F0 !important;
    border-radius: 16px !important;
    -webkit-border-radius: 16px !important;
    -moz-border-radius: 16px !important;
    -ms-border-radius: 16px !important;
    -o-border-radius: 16px !important;
    padding-left: 20px !important;
    font-size: 15px;
    color: var(--secondryColor);
}


.choose-design-sidebar {
    width: 100%;
    max-width: 350px;
    height: 100%;
    position: relative;
    border-radius: 20px;
    margin-left: 16px;
}

.setting-category-wrp {
    width: 100%;
    max-width: 350px;
    height: 100%;
    border: 1px solid #E2E8F0;
    border-radius: 20px;
    padding: 16px 24px 24px 24px;
    background: var(--white);
}

.edit-imag-main-content-wrp .setting-category-wrp {
    padding: 16px 24px 90px 24px;
    overflow: hidden;
    overflow-y: auto;
}

.edit-imag-main-content-wrp .setting-category-wrp::-webkit-scrollbar {
    display: none !important;
}

.edit-imag-main-content-wrp {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.edit-image-main-wrp {
    width: 100%;
    background-color: transparent;
    /* height: 100vh; */
    overflow-y: auto;
    padding-bottom: 0px;
}

.edit-image-main-wrp::-webkit-scrollbar {
    display: none;
}

.edit-image-main-top {
    width: 100%;
    text-align: center;
}

.edit-image-main-top-icons {
    width: 100%;
    max-width: 112px;
    height: 48px;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0px auto;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 4px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 4px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 4px -6px rgba(0, 0, 0, 0.2);
}

.edit-image-main-top-icons::before {
    content: "";
    width: 2px;
    height: 28px;
    background: #F1F5F9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-image-main-top-icons button {
    border: none !important;
    background: none !important;
}

.image-edit-inner-img {
    width: 460px;
    height: 648px;
    margin: 0px auto
}

.image-edit-inner-img .canvas-container {
    width: 100% !important;
    height: 100% !important;
}

.image-edit-inner-img .canvas-container canvas {
    width: 100% !important;
    height: 100% !important;
}

.edit-images-button-wrp {
    width: 100%;
    max-width: 460px;
    margin: 0px auto;
    height: auto;
    padding: 10px 16px;
    background-color: var(--white);
    border-radius: 16px;
    -webkit-box-shadow: 0 5px 4px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 4px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 4px -6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-images-button-inner button {
    border: none !important;
    background: none !important;
}

.edit-images-button-inner button span {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.edit-images-button-inner button h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondryColor);
}

.common-font-wrp {
    margin-bottom: 15px;
    border-bottom: 1px solid #F1F5F9;
}

.common-font-wrp h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px !important;
}


.edit-imag-main-content-wrp .accordion-item {
    margin-bottom: 10px;
}

.edit-imag-main-content-wrp .common-font-wrp .accordion-item {
    padding: 0px;
}

.edit-imag-main-content-wrp .accordion-item {
    border: transparent !important;
}


.edit-imag-main-content-wrp .accordion-header {
    position: relative;
    z-index: 2;
}

.edit-imag-main-content-wrp .accordion-header {
    margin-bottom: 0;
}


.edit-imag-main-content-wrp .accordion-button {
    background-color: transparent !important;
    padding: 0px !important;
}

.edit-imag-main-content-wrp .common-font-wrp .accordion-item button {
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: var(--secondryColor) !important;
    margin-bottom: 0px !important;
    cursor: pointer;
    padding: 0px !important;
    width: 100%;
    padding-right: 2px !important;
}

.edit-imag-main-content-wrp .accordion-button.collapsed {
    border-radius: 16px !important;
}

.edit-imag-main-content-wrp .accordion-button {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px;
    color: var(--secondryColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px !important;
    position: unset;
    border-radius: 16px 16px 0px 0px !important;
    border: none !important;
    padding-left: 16px !important;
    background-color: #F8F9FD;
}

.edit-imag-main-content-wrp .accordion-collapse {
    background-color: transparent !important;
}

.edit-imag-main-content-wrp .accordion-body {
    padding: 20px;
    border: 1px solid #E2E8F0 !important;
    border-radius: 16px !important;
    background-color: transparent !important;
    margin-top: 16px;
}

.edit-imag-main-content-wrp .accordion-button.collapsed .fa-angle-down {
    transform: rotateZ(0deg);
    transition: 0.2s;
}

.edit-imag-main-content-wrp .accordion-button .fa-angle-down {
    color: #94A3B8;
    font-size: 16px;
}

.edit-imag-main-content-wrp .cmn-btn {
    padding: 12px 24px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: #F73C71;
    border: 1px solid #F73C71;
    display: inline-block;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.sp-button-container.sp-cf,
.sp-initial.sp-thumb.sp-cf,
.sp-input-container.sp-cf {
    height: 100% !important;
}














.common-font-wrp .form-check {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 0px;
    padding-bottom: 10px;
    cursor: pointer;

}

.common-font-wrp label {
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: var(--secondryColor) !important;
    margin-bottom: 0px !important;
    cursor: pointer;
}

.common-font-wrp .form-check .form-check-input {
    border-radius: 50% !important;
    width: 18px !important;
    height: 18px !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
}


.common-font-wrp .form-check .form-check-input:focus {
    box-shadow: none !important;
}


.common-font-wrp .accordion-item {
    padding: 0px;
}

.common-font-wrp .accordion-item button {
    font-size: 15px;
}

.common-font-wrp .accordion-item .accordion-body .form-check:last-child {
    padding-bottom: 0px;
}

.accordion-button .fa-angle-down {
    transform: rotateZ(180deg);
    transition: 0.2s;
}

.accordion-button.collapsed .fa-angle-down {
    transform: rotateZ(0deg);
    transition: 0.2s;
}

.footer-buttons .cmn-btn {
    width: 100%;
}

.footer-buttons .cmn-btn.reset-btn {
    background-color: transparent;
    border: 1px solid #E2E8F0;
    color: var(--secondryColor);
}

.footer-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 24px;
    background-color: var(--white);
    z-index: 10000005;
    border-radius: 0px 0px 20px 20px;
}

.edit-images-button-more button svg {
    width: 13px;
    height: 13px;
}

.edit-images-button-more .dropdown-menu {
    padding: 10px 5px;
    border-radius: 16px;
    border: none;
}

.edit-images-button-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.edit-images-button-more {
    display: none;
}

.edit-images-button-more .dropdown-toggle::after {
    display: none;
}



.size-spacing-inner-top h3 {
    font-size: 15px;
    font-weight: 500;
    color: var(--secondryColor);
    text-transform: capitalize;
    margin-bottom: 0px;
}

.size-spacing-inner-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.size-spacing-inner-top input {
    width: 58px !important;
    height: 36px !important;
    border-radius: 10px !important;
    text-align: center;
    padding: 0px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 23.8px !important;
    letter-spacing: 0.30000001192092896px !important;
}

.size-spacing-inner-top input:focus {
    outline: none !important;
}

.range-slider {
    width: 100%;
    margin: 10px auto;
    position: relative;
}

.edit-imag-main-content-wrp .range {
    height: auto !important;
    padding: 0px !important;
    border: none !important;
    background-color: #F8F9FD !important;
}

.range {
    -webkit-appearance: none;
    width: 100%;
    height: auto !important;
    padding: 0px !important;
    border: none !important;
}

.range:focus {
    outline: none;
    box-shadow: none !important;
}

.range::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: linear-gradient(90deg, #F73C71 var(--range-progress), var(--tabBg) var(--range-progress));
    border-radius: 1rem;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0.25rem solid #F73C71;
    border-radius: 50%;
    background: var(--white) !important;
    background-color: var(--white) !important;
    cursor: pointer;
    height: 24px;
    width: 24px;
    transform: translateY(calc(-50% + 8px));
    color: var(--white) !important;
    position: relative;
    top: -5px;
}


#tip {
    display: none !important;
}

.tip {
    position: absolute;
    background: #333;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    transform: translate(-50%, -100%);
}

.size-spacing-inner {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #F1F5F9;
}

.edit-imag-main-content-wrp .choose-design-sidebar {
    height: 100vh;
    padding: 0px !important;
    margin: 0px !important;
    scrollbar-color: none !important;
    scrollbar-width: none !important;
}


.sp-container {
    flex-direction: column-reverse;
    width: 100%;
    box-shadow: none !important;
}

.sp-picker-container {
    width: auto !important;
    padding: 0px !important;
}


.sp-palette-container {
    padding: 0px !important;
    border: none !important;
}

.sp-clear,
.sp-color,
.sp-hue,
.sp-sat,
.sp-val {
    border-radius: 10px !important;
}

.sp-dragger {
    border-radius: 50% !important;
    height: 20px !important;
    width: 20px !important;
    border: 5px solid #fff !important;
}

.sp-slider {
    position: absolute;
    top: 0;
    cursor: pointer;
    height: 12px !important;
    border-radius: 50%;
    width: 12px !important;
    left: -2px;
    border: 2px solid var(--white) !important;
    background: transparent !important;
    box-shadow: 0 0 2px 0 #3a3a3a;
    margin-top: 8px;
}

.sp-palette .sp-thumb-el {
    width: 20px !important;
    height: 20px !important;
    margin: 3px !important;
    border: none !important;
    border-radius: 10px !important;
}

.sp-palette .sp-thumb-dark.sp-thumb-active .sp-thumb-inner {
    background-image: none !important;
}

.sp-palette .sp-thumb-dark.sp-thumb-active .sp-thumb-inner {
    border: 2px solid #F73C71 !important;
}

.sp-palette .sp-thumb-dark.sp-thumb-active .sp-thumb-inner::before,
.sp-palette .sp-thumb-light.sp-thumb-active .sp-thumb-inner::before {
    content: "\f00c";
    font-family: 'FONTAWESOME';
    width: 15px;
    height: 15px;
    font-size: 8px;
    line-height: normal;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    right: -6px;
    bottom: -6px;
    color: var(--white);
    background: #F73C71;
    border: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sp-palette .sp-thumb-light.sp-thumb-active .sp-thumb-inner {
    border: 2px solid #F73C71 !important;
    background-image: none !important;
}

.sp-palette.sp-thumb {
    display: flex;
    align-items: start;
}

.format-text-inner h3 {
    font-size: 15px;
    font-weight: 500;
    color: var(--secondryColor);
    text-transform: capitalize;
    margin-bottom: 0px;
    margin-bottom: 10px;
}

.format-text-inner-options {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 6px;
}

.format-text-inner-options button {
    width: 96px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #F1F5F9;
    background-color: transparent;
}

.format-text-inner-options button svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.format-text-inner-options button.active {
    border: 1px solid #F73C71;
}

.format-text-inner {
    margin-bottom: 20px;
}

.font-tranform-wrp .format-text-inner-options button {
    font-size: 18px;
    line-height: normal;
    color: var(--secondryColor);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-alignment-wrp .format-text-inner-options button {
    width: 71px;
    height: 44px;
}

.uploda-wrp-content h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: var(--secondryColor);
    margin-bottom: 0px;
}

.uploda-wrp-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.4px;
    text-align: center;
    color: var(--inputColor);
    margin: 10px 0px !important;
}

.uploda-wrp-content .cmn-btn {
    background-color: transparent;
    border: 1px solid #E2E8F0;
    color: var(--secondryColor);
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.uploda-wrp-content .cmn-btn input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 2;
    display: block !important;
    opacity: 0;
    cursor: pointer;
    padding: 0px !important;
}

.upload-wrp-img {
    width: 120px;
    height: 120px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.uploda-wrp-content {
    text-align: center;
}

.uploaded-images-warning {
    padding: 10px 35px 10px 16px;
    display: flex;
    align-items: start;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid #F1F5F9;
    background-color: #F8F9FD;
    position: relative;
    margin-bottom: 16px;
}

.uploaded-images-warning p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    text-align: left;
    color: var(--iconColor);
}

.uploaded-images-warning button {
    border: none !important;
    background: none !important;
    position: absolute;
    top: 4px;
    right: 16px;
}

.uploaded-images-warning button svg {
    width: 16px;
    height: 16px;
}

.total-upload-img h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: left;
    color: var(--secondryColor);
}

.uploaded-images-detail {
    display: flex;
    align-items: center;
    row-gap: 25px;
    column-gap: 10px;
    flex-wrap: wrap;
}

.total-upload-img {
    margin-bottom: 10px;
}

.uploaded-img-card {
    position: relative;
    width: 94px;
    min-width: 90px;
    max-width: 94px;
    height: 94px;
    border-radius: 10px;
    border: 1px dashed #E2E8F0;
    flex-basis: 30%;
}

.upload-img-cart-extra-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
}

.uploaded-img-card-edit,
.uploaded-img-card-delete {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--white);
    border: none !important;
    box-shadow: 0px 0px 5px 2px #0000000A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploaded-img-card-edit svg,
.uploaded-img-card-delete svg {
    width: 16px;
    height: 16px;
}

.uploaded-img-card-edit {
    position: absolute;
    bottom: -15px;
    left: 12px;
}

.uploaded-img-card-delete {
    position: absolute;
    bottom: -15px;
    right: 12px;
}

.uploaded-img-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.upload-image-main-wrp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-image-main-wrp {
    position: relative;
}

/* .edit-image-main-wrp .design-seting{
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    max-width: 100% !important;
    transform: unset !important;
    margin-top: 20px;
} */
.edit-image-main-wrp .design-seting {
    position: sticky !important;
    bottom: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    transform: unset !important;
    display: none !important;
}



.common-font-wrp .form-check .form-check-label {
    position: relative;
    width: 100%;
}

.common-font-wrp .form-check .form-check-input {
    position: absolute;
    opacity: 0;
}


.common-font-wrp .form-check .form-check-label:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    border: 2px solid #E2E8F0;
    /* Pink border */
    background-color: white;
    border-radius: 50%;
}

.common-font-wrp .form-check .form-check-input:checked+.form-check-label:before {
    background-color: #FF3366;
    /* Pink fill when checked */
    border: 2px solid #FF3366;
    /* Pink border */
}

.common-font-wrp .form-check .form-check-input:checked+.form-check-label:after {
    content: '';
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}

/* .trash-icon-svg {
    width: 20px !important;
    height: 20px !important;
    background-color: green !important;
    color: green !important;
    fill: green !important;
    stroke: green !important;
}

.trash-icon-svg path {
    width: 20px !important;
    height: 20px !important;
    background-color: green !important;
    color: green !important;
    fill: green !important;
    stroke: green !important;
} */

/* .trash-icon-svg {
    width: 20px !important;
    height: 20px !important;
    background-color: green !important;
    color: green !important;
    fill: green !important;
    stroke: green !important;
} */


/* ====fonts=== */
.Botanica {
    font-family: 'Botanica Script';
}

.JosefinSans {
    font-family: 'JosefinSans-Regular';
}

.AbrilFatface {
    font-family: 'AbrilFatface-Regular';
}

.AdleryPro {
    font-family: 'AdleryPro-Regular';
}

.AgencyFB {
    font-family: 'AgencyFB-Bold';
}

.AlexBrush {
    font-family: 'AlexBrush-Regular';
}

.Allura {
    font-family: 'Allura-Regular';
}

.BotanicaScript-Regular {
    font-family: 'BotanicaScript-Regular';
}

.Archer {
    font-family: 'Archer-Bold';
}

.Archer-Book {
    font-family: 'Archer-Book';
}

.Archer-BookItalic {
    font-family: 'Archer-BookItalic';
}

.Archer-ExtraLight {
    font-family: 'Archer-ExtraLight';
}

.Archer-Hairline {
    font-family: 'Archer-Hairline';
}

.Bebas-Regular {
    font-family: 'Bebas-Regular';
}

.BookAntiqua {
    font-family: 'BookAntiqua';
}

.Bungee-Regular {
    font-family: 'Bungee-Regular';
}

.CandyCaneUnregistered {
    font-family: 'CandyCaneUnregistered';
}

.CarbonBl-Regular {
    font-family: 'CarbonBl-Regular';
}

.CarmenSans-ExtraBold {
    font-family: 'CarmenSans-ExtraBold';
}

.CarmenSans-Regular {
    font-family: 'CarmenSans-Regular';
}

.ChristmasCookies {
    font-family: 'ChristmasCookies';
}

.new-event-sidebar-head {
    border-bottom: 1px solid #F1F5F9;
    padding-bottom: 10px;
}


.newcanvas {
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#imageEditor1 {
    width: 600px;
    height: 400px;
}



/* #user_image {
    position: absolute;
    position: absolute;
    top: 234px;
    left: 422px;
    height: 100px;
    width: 100px;
    background-color: black;
    display: none;

} */

#imageWrapper {
    position: absolute;
    cursor: move;/ Indicates that the element is movable / display: none;
    top: 234px;

}

/*
#user_image {
    /* display: block;/

} */

.resize-handle {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    cursor: se-resize;
}

.resize-handle.top-left {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.resize-handle.top-right {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}

.resize-handle.bottom-left {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}

.resize-handle.bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}

@media only screen and (max-width: 1199px) {
    .image-edit-inner-img {
        width: 400px;
        height: 460px;
        margin: 0px auto;
    }

    .choose-design-sidebar {
        max-width: 300px;
    }

    .toggle-wrp h5 {
        color: var(--secondryColor);
        font-size: 18px;
    }

    .edit-images-button-wrp {
        padding: 10px 10px;
    }

    .edit-images-button-wrp {
        max-width: 400px;
    }
}

@media only screen and (max-width: 991px) {
    .edit-imag-main-content-wrp {
        flex-direction: row;
    }

    .image-edit-inner-img {
        width: 400px;
        height: 648px;
        margin: 0px auto;
    }

    .edit-imag-main-content-wrp .setting-category-wrp {
        max-width: 100%;
    }

    .edit-imag-main-content-wrp .choose-design-sidebar {
        position: fixed !important;
        max-width: 100%;
        overflow-y: unset;
        max-height: 100% !important;
        height: 90% !important;
        bottom: 0;
        left: 0;
    }

    .edit-image-main-wrp {
        height: 100% !important;
    }

    .edit-imag-main-content-wrp .choose-design-sidebar .setting-category-wrp {
        max-height: 100vh;
        overflow-y: scroll;
    }

    .footer-buttons {
        /* bottom: 15px; */
        justify-content: center;
    }

    .footer-buttons .cmn-btn {
        max-width: 128px;
    }

    .edit-image-main-wrp .design-seting {
        display: flex;
    }
}

@media only screen and (max-width: 575px) {
    .image-edit-inner-img {
        width: 327px;
        height: 460px;
        margin: 0px auto;
    }

    .edit-images-button-more {
        display: flex;
    }

    .format-edit-wrp {
        display: none;
    }

    .photo-slider-wrp {
        display: none;
    }

    .edit-images-button-wrp {
        width: 100%;
        max-width: 327px;
    }

    .edit-image-main-wrp {
        padding: 0px;
    }

    .edit-image-main-wrp .design-seting {
        position: fixed !important;
        width: 100% !important;
        left: 0 !important;
        border-radius: 0px !important;
    }


}

@media only screen and (max-width: 424px) {
    .image-edit-inner-img {
        width: 300px;
        height: 360px;
        margin: 0px auto;
    }
}

@media only screen and (max-width: 370px) {
    .image-edit-inner-img {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    .uploaded-img-card-edit {
        position: absolute;
        bottom: -15px;
        left: 8px;
    }

    .uploaded-img-card-delete {
        position: absolute;
        bottom: -15px;
        right: 8px;
    }
}