/* .header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrap a.header-logo{
    width: 120px;
    height: 25px;
    display: block;
} */


.contact-details {
    padding: 32px 0;
    border-top: 1px solid var(--borderColor);
}

.contact-user {
    border: 1px solid var(--borderColor);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.contact-user .user {
    width: 100%;
    height: 60px;
    max-width: 60px;
    margin: 0 auto;
}

.contact-user .user h5 {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0;
    border: 1px solid transparent;
    background: linear-gradient(135deg, rgb(255, 247, 240), rgb(255, 200, 163)) rgb(14, 114, 207);
    color: rgb(212, 56, 13);
    font-size: 16px;
}

.contact-user .user img {
    border-radius: 100%;
}

.contact-user .badge {
    border: 3px solid #ffffff;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.contact-user span.active {
    width: 10px;
    height: 10px;
    background-color: #34C05C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.user-name {
    margin: 16px 0;
}

.user-name h3 {
    font-size: 18px;
    font-weight: 600;
    margin-right: 6px;
    margin-bottom: 0;
}

.user-name p {
    font-size: 12px;
    font-weight: 500;
    color: #23AA26;
}

.user-name .d-flex span {
    padding: 5px 8px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    color: var(--primaryColor);
    background-color: var(--lightBg);
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.user-name .d-flex span.free {
    padding: 5px 8px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    color: green;
    background-color: rgb(194 219 194 / 70%);
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}



ul.nav .nav-link:hover {
    border: none !important;
}

.user-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px 0px;
    border-top: 1px solid var(--tabBorder);
    border-bottom: 1px solid var(--tabBorder);
}

.user-gallery div {
    width: 33.33%;
    text-align: center;
}

.user-gallery h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
}

.user-location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.user-location a,
.user-location span {
    font-size: 12px;
    color: var(--lightColor);
    font-weight: 500;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* .user-location a:hover,
.user-location span:hover{
    color: var(--primaryColor);
} */

.user-location div:first-child {
    position: relative;
}

.user-location div:first-child::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 14px;
    top: 6px;
    right: -10px;
    background-color: var(--lightColor);
}

.remove-border div:first-child::after {
    display: none;
}

.switch-ac {
    border: 1px solid var(--borderColor);
    padding: 11px 0;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: block;
    margin-top: 16px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.switch-ac:hover {
    border: 1px solid var(--primaryColor);
}

.switch-ac:hover span {
    color: var(--primaryColor);
}

.switch-ac span {
    color: var(--secondryColor);
    font-size: 12px;
    font-weight: 600;
}

.user-account {
    margin-bottom: 20px;
    padding-left: 0;
}

.user-account li {
    margin-bottom: 13px;
}

.user-account li:last-child {
    margin-bottom: 0;
}

.user-account a {
    padding: 13px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    position: relative;
}

.user-account a::after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: var(--lightColor);
    font-size: 10px;
    margin-left: 8px;
    margin-right: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 12px;
}


.user-account a:hover {
    background-color: var(--primaryColor);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.user-account a.active {
    background-color: var(--primaryColor);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.user-account span {
    margin-right: 12px;
}

.user-account h5 {
    font-size: 16px;
    color: var(--secondryColor);
    font-weight: 500;
    margin-bottom: 0;
}

.user-account a.active svg path,
.user-account a:hover svg path {
    fill: #fff;
}

.user-account a.active h5,
.user-account a:hover h5 {
    color: #fff;
}

.user-account a.active::after,
.user-account a:hover::after {
    color: #fff;
}


.Logout-btn,
.support-btn {
    padding: 16px 10px;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: var(--secondryColor);
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.support-btn {
    margin-right: 15px;
}

.Logout-btn:hover,
.support-btn:hover {
    background-color: var(--primaryColor);
    color: #fff;
}

.Logout-btn:hover path,
.support-btn:hover path {
    stroke: #fff;
}



.contact-title {
    margin: 16px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-title h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--titleColor);
    /* margin-bottom: 0; */
}

.contact-title a {
    font-weight: 600;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.contact-tab .nav-tabs .nav-item {
    width: 33.33%;
}

.contact-tab input[type="search"] {
    height: 48px !important;
    padding-left: 20px;
    width: 100% !important;
    outline: 0;
}

.contact-tab input[type="search"]:focus {
    border: 1px solid var(--primaryColor) !important;
}

.contact-tab input[type="search"]::placeholder {
    color: var(--searchColor) !important;
    font-size: 14px;
}

.contact-tab input[type="search"]~span {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.popular-list h5 {
    color: var(--secondryColor);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.popular-list div a {
    font-size: 14px;
    color: var(--lightColor);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.popular-list div a:hover {
    color: var(--primaryColor);
}

.popular-list .listing {
    padding: 0;
    margin-top: 16px;
}

ul.listing li {
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;
    margin-bottom: 16px;
    position: relative;
}

ul.listing li:after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: var(--lightColor);
    font-size: 10px;
    margin-left: 8px;
    margin-right: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 12px;
}


ul.listing li:last-child {
    margin-bottom: 0;
}

ul.listing li h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: var(--contactTitle);
    margin-bottom: 0;
}

ul.listing li span {
    font-size: 12px;
    color: var(--lightColor);
}

#myTabContent .position-relative {
    margin: 20px 0;
}

/* .user-contacts{
    max-height: 430px;
    overflow-y: scroll;
} */

.user-contacts .edit-contact {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.user-contacts .edit-contact:hover {
    background-color: transparent;
    color: var(--primaryColor) !important;
    border: 1px solid var(--primaryColor) !important;
}

.users-data .contact-img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.users-data .contact-img h5 {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0;
    border: 1px solid transparent;
    background: linear-gradient(135deg, rgb(255, 247, 240), rgb(255, 200, 163)) rgb(14, 114, 207);
    color: rgb(212, 56, 13);
    font-size: 16px;
}

.users-data .contact-img img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}




.edit-contact {
    border: 1px solid var(--borderColor) !important;
    padding: 10px 24px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    color: var(--secondryColor) !important;
}

#myModal .login-form-wrap,
#myModal1 .login-form-wrap {
    border: none;
    padding: 0;
    max-width: 100%;
}

.save-btn {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    max-width: 150px;
    width: 100%;
}



/* ====== model ======== */
#myModal {
    overflow: hidden;
}

.modal-dialog {
    max-width: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.modal-header {
    border-bottom: none;
    padding: 24px 24px 0;
}

.modal-header h4 {
    color: var(--titleColor);
    font-size: 20px;
    font-weight: 700;
}


.contact-title .delete-btn {
    padding: 16px 34px;
    border: 1px solid var(--borderColor);
    color: var(--secondryColor);
    font-size: 14px;
    font-weight: 600;
}


.contact-tab .product-scroll {
    max-height: 430px;
    overflow-y: scroll;
}

#manageModel .cmn-btn:hover svg path {
    stroke: var(--primaryColor);
}

/* .contact-details .col-xxl-3 {
    width: 334px;
}

.contact-details .col-xxl-9 {
    width: 74%;
} */



/* ======= Responsive ======= */
/* @media only screen and (max-width:1399px) {
    .contact-details .col-xxl-9 {
        width: 70%;
    }
}

@media only screen and (max-width:1399px) {
    .contact-details .col-xxl-9 {
        width: 65%;
    }
} */

@media only screen and (max-width:768px) {
    .contact-user ul.nav {
        margin: 0 auto;
    }

    .user-name h3 {
        font-size: 16px;
    }

    .contact-title h3 {
        font-size: 20px;
    }

    .contact-title .delete-btn {
        padding: 10px 8px;
    }



    .contact-details {
        padding: 24px 0;
    }

    .popular-list {
        display: none;
    }
}

@media only screen and (max-width:575px) {
    .contact-user {
        padding: 10px 0;
        border: none;
    }

    .contact-tab ul.nav .nav-link.active {
        padding: 8px 17px;
    }

    .contact-tab ul.nav .nav-link {
        font-size: 12px;
    }

    .edit-contact {
        padding: 10px 20px;
    }


}

@media only screen and (max-width:360px) {
    .contact-tab ul.nav .nav-link.active {
        padding: 8px 9px;
    }

    .contact-title .cmn-btn {
        width: 100%;
        display: block;
        max-width: 100%;
        margin-top: 15px;
    }
}