.edit-profile .profile-content{
    margin-top: 50px !important;
}

.edit-profile .login-form-wrap{
    border: none;
    max-width: 100%;
    margin-bottom: 0 !important;    
}

.edit-profile .main-radio .radio-wrapper{
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    height: 48px;
    padding-left: 20px !important;
    padding-right: 8px !important;
    padding: 10px 8px 10px 20px;
   
}

.main-radio .radio-wrapper .row,
.main-radio .radio-wrapper .col-lg-6
{
    height: 100%;
}

.main-radio .radio-wrapper .col-lg-6:nth-child(1){
    border-right: 1px solid var(--borderColor);
}

.main-radio .radio-label
{
    position: absolute;
    font-size: 12px;
    color: var(--lightColor);
    top: -10px;
    left: 10px;
    background: #ffffff;
    padding: 0px 8px 0px 8px;
}

.birthday-label{
    position: absolute;
    font-size: 12px;
    color: var(--lightColor);
    top: 0px;
    left: 10px;
    background: #ffffff;
    padding: 0px 8px 0px 8px;
}

.edit-profile .login-form-wrap .form-check{
    margin-bottom: 0 !important;
    height: 100%;
    
}

.edit-profile .floating-label{
    color: var(--lightColor) !important;
}

/* .edit-profile input:focus ~ .floating-label, input:not(:focus):valid ~ .floating-label{
    color: var(--primaryColor) !important;
} */

.edit-profile .about-label{
    top: 0;
    background-color: #fff;
    padding: 0px 5px 0px 5px;
}

#Edit-modal .modal-dialog{
    max-width: 417px;
}

#Edit-modal .user-cover-img{
    width: 375px;
    height: 375px;
    border: none;
    overflow: inherit;
}

#Edit-modal .croppie-container .cr-slider-wrap{
    width: 100% !important;
    margin: 12px auto !important;
}

#Edit-modal .cr-slider{
    width: 370px !important;
    padding-bottom: 15px;
    padding-left: 50px !important;
    border: none !important;
    box-shadow: none !important;
    padding-top: 4px !important;
}

input.cr-slider:focus{
    box-shadow: none !important;
    border: none !important;
}

.profile-save-btn{
    padding-top: 25px !important;
}

#Edit-modal .slidecontainer{
    margin-top: 25px;
}


.cr-slider::-webkit-slider-runnable-track{
    background: #23AA26 !important;
    height: 6px !important;
}
.cr-slider:focus::-webkit-slider-runnable-track{
    background: #23AA26 !important;
}

.cr-slider::-moz-range-thumb{
    width: 18px !important;
    height: 18px !important;
    background: red !important;
    cursor: pointer !important;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25) !important;
}

#Edit-modal .croppie-container .cr-boundary,
#Edit-modal  .croppie-container .cr-viewport
{
    width: 100% !important;
    height: 100% !important;
}

#Edit-modal .modal-header{
    border: none !important;
}



/* =========== responsive =========== */
@media only screen and (max-width:575px){
    .edit-profile .profile-content {
        padding: 20px 20px 0 !important;
    }

    .edit-profile-wrp .contact-title{
        margin-bottom: 15px;
    }

    .edit-profile-wrp .contact-title .edit-btn{
        display: block !important;
    }

    .edit-profile-wrp .contact-title div{
        width: 100%;
    }

    #Edit-modal .modal-dialog{
        max-width: 100%;
    }
    #Edit-modal .user-cover-img{
        width: 250PX;
        height: 250PX;
    }

    .edit-profile .profile-content{
        margin-top: 90px !important;
    }

}