/* ======== header-css ======== */
header.login-header {
    padding: 8px 50px;
    border: none;
}

.login-header .container-fluid{
    padding: 0;
}

.login-header ul {
    gap: 24px;
}

.login-header ul li .nav-link {
    color: var(--navLink);
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.login-header ul li .nav-link:hover,
.login-header ul li.active a
{
    color: var(--primaryColor);
}



.nav-link.signIn-btn {
    padding: 9px 16px !important;
    border: 1px solid #FF5A5F;
    color: #F73C71 !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.login-header .signIn-btn svg path{
    fill: var(--primaryColor);
}

.login-header .signIn-btn:hover svg path{
    fill: #fff;
}

.nav-link.signIn-btn:hover{
    background-color: var(--primaryColor);
    color: #fff !important;
    box-shadow: 0px 5px 12px 0px #CE24573D;
}


/* .nav-link.signUp-btn {
.nav-link.signIn-btn:hover{
    background-color: var(--primaryColor);
    color: #fff !important;
}

.nav-link.signIn-btn svg path{
    fill: var(--primaryColor);
}

.nav-link.signIn-btn:hover svg path{
    fill: #fff;
}

.nav-link.signUp-btn {
    background-color: #FF4F84;
    color: #FFF !important;
    padding: 9px 16px !important;
    box-shadow: 0px 5px 12px 0px #CE24573D;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #FF4F84;
    transition: 0.5s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
} */

.nav-link.signUp-btn:hover{
    background-color: transparent;
    color: var(--primaryColor) !important;
}

.nav-link.signUp-btn:hover svg path{
    stroke: var(--primaryColor) !important;
}

.navbar-toggler {
    background-color: inherit !important;
    color: inherit !important;
    cursor: pointer;
    overflow: hidden;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0 !important;
    box-shadow: none !important;
}

.line-toggle {
    position: absolute;
    display: block;
    width: 24px;
    height: 1px;
    border:1px solid var(--secondryColor);
    border-radius: 5px;
    transition: all .6s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.line-toggle:first-child {
    transform: translateY(-7px) translateX(0px);
    transition-delay: 0s;
    -webkit-transform: translateY(-7px) translateX(0px);
    -moz-transform: translateY(-7px) translateX(0px);
    -ms-transform: translateY(-7px) translateX(0px);
    -o-transform: translateY(-7px) translateX(0px);
}

.toggle .line-toggle:nth-child(2) {
    transition-delay: .12s;
}

.line-toggle:last-child {
    transform: translateY(7px) translateX(-0px);
    transition-delay: 0s;
    -webkit-transform: translateY(7px) translateX(-0px);
    -moz-transform: translateY(7px) translateX(-0px);
    -ms-transform: translateY(7px) translateX(-0px);
    -o-transform: translateY(7px) translateX(-0px);
}

.toggle.activate .line-toggle:first-child {
    background: var(--secondryColor);
    transform: translateY(0) translateX(0) rotate(45deg);
    width: 24px;
    height: 3px;
    transition-delay: .1s;
}

.toggle.activate .line-toggle:nth-child(2) {
    transform: translateX(110px);
    transition-delay: 0s;
}

.toggle.activate .line-toggle:last-child {
     background: var(--secondryColor);
     transform: translateY(0) translateX(0) rotate(314deg);
     width: 24px;
     height: 3px;
     transition-delay: .1s;
     transform: rotate(-45deg);
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
}

.navbar-toggle .line-toggle:first-child {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.navbar-toggle .line-toggle:nth-child(2) {
    opacity: 0;
}

.navbar-toggle .line-toggle:last-child {
    transform: rotate(-45deg);
}

.navbar-toggle.collapsed .line-toggle:first-child{
    transform: rotate(0); transform: rotate(45deg);
}
    
.navbar-toggle.collapsed .line-toggle:nth-child(2) {
    opacity: 1;
}

.navbar-toggle.collapsed .line-toggle:last-child {
    transform: rotate(0);
}
    
.google-add{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--secondryColor);
    padding: 15px 50px;
}

.google-add p{
    color: #fff;
    font-weight: 500;
}

.google-add .app-store{
    margin-right: 24px;
}



.header-right{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
}

.header-right .drp-conent{
    display: flex;
    align-items: center;
}

.header-dropdown button,
.header-dropdown a
{
    background-color: transparent !important;
    border: none;
    padding: 0;
    height: 20px;
}

.header-dropdown .dropdown-toggle::after{
    display: none;
}

.drp-conent .badge{
    border: 3px solid #F8F9FD;
    width: 20px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute !important;
    top: -6px !important;
    right: -7px !important;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    background-color: var(--primaryColor);
}

.drp-conent span{
    width: 17px;
    height: 14px;
    background-color: var(--primaryColor);
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.header-dropdown .dropdown-menu{
    transform: translate(-35px, 15px) !important;
    -webkit-transform: translate(-35px, 15px) !important;
    -moz-transform: translate(-35px, 15px) !important;
    -ms-transform: translate(-35px, 15px) !important;
    -o-transform: translate(-35px, 15px) !important;
    padding: 10px 15px;
}

.navbar-collapse.d-none{
    display: none !important;
}

.navbar-collapse.d-none{
    display: none !important;
}

.navbar-toggler .hidden{
    display: none;
}


@media only screen and (max-width:767px){
    .navbar-collapse.collapse.show,
    .navbar-collapse.collapsing
    {
        position: absolute;
        width: 100%;
        top: 58px;
        left: 0;
        z-index: 3;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
        box-shadow: 0px 64px 64px -48px #0F0F0F14;
        background-color: #fff;
        padding: 24px;
        border-top: 1px solid var(--borderColor);
    }

    header.login-header{
        padding: 15px 0px 0;
    }

    .login-header .navbar{
        padding: 0 15px 12px;
    }

    .login-header ul{
        align-items: flex-start !important;
    }

    .login-header ul li{
        width: 100%;
        position: relative;
    }

    .login-header ul li::after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background-image: url('../image/left-arrow.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 6px;
        height: 11px;
        color: #94A3B8;
    }

    .login-header ul li:last-child::after{
        display: none;
    }
    
    .header-dropdown .dropdown-menu{
        transform: translate(-75px, 15px) !important;
        -webkit-transform: translate(-75px, 15px) !important;
        -moz-transform: translate(-75px, 15px) !important;
        -ms-transform: translate(-75px, 15px) !important;
        -o-transform: translate(-75px, 15px) !important;
    }

    .header-right {
        gap: 20px;
    }
}

@media only screen and (max-width:575px){
    
}