/* ======== header-css ======== */
header.login-header {
    padding: 8px 50px;
    border: none;
    border-bottom: 1px solid var(--borderColor);
}

.login-header .container-fluid{
    padding: 0;
}

.login-header ul {
    gap: 24px;
}

.login-header ul li .nav-link {
    color: var(--navLink);
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.login-header ul li .nav-link:hover {
    color: var(--primaryColor);
}

.nav-link.signIn-btn {
    padding: 9px 16px !important;
    border: 1px solid #FF5A5F;
    color: #F73C71 !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.nav-link.signUp-btn {
    background-color: #FF4F84;
    color: #FFF !important;
    padding: 9px 16px !important;
    box-shadow: 0px 5px 12px 0px #CE24573D;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #FF4F84;
}

.navbar-toggler {
    background-color: inherit !important;
    color: inherit !important;
    cursor: pointer;
    overflow: hidden;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0 !important;
    box-shadow: none !important;
}

.line-toggle {
    position: absolute;
    display: block;
    width: 24px;
    height: 3px;
    background: var(--secondryColor);
    border-radius: 5px;
    transition: all .6s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.line-toggle:first-child {
    transform: translateY(-7px) translateX(0px);
    transition-delay: 0s;
    -webkit-transform: translateY(-7px) translateX(0px);
    -moz-transform: translateY(-7px) translateX(0px);
    -ms-transform: translateY(-7px) translateX(0px);
    -o-transform: translateY(-7px) translateX(0px);
}

.toggle .line-toggle:nth-child(2) {
    transition-delay: .12s;
}

.line-toggle:last-child {
    transform: translateY(7px) translateX(-0px);
    transition-delay: 0s;
    -webkit-transform: translateY(7px) translateX(-0px);
    -moz-transform: translateY(7px) translateX(-0px);
    -ms-transform: translateY(7px) translateX(-0px);
    -o-transform: translateY(7px) translateX(-0px);
}

.toggle.activate .line-toggle:first-child {
    background: var(--secondryColor);
    transform: translateY(0) translateX(0) rotate(45deg);
    width: 24px;
    height: 3px;
    transition-delay: .1s;
}

.toggle.activate .line-toggle:nth-child(2) {
    transform: translateX(110px);
    transition-delay: 0s;
}

.toggle.activate .line-toggle:last-child {
    background: var(--secondryColor);
    transform: translateY(0) translateX(0) rotate(314deg);
    width: 24px;
    height: 3px;
    transition-delay: .1s;
}

.google-add{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--secondryColor);
    padding: 15px 50px;
}

.google-add p{
    color: #fff;
    font-weight: 500;
}

.google-add .app-store{
    margin-right: 24px;
}