.login-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 80px 0;
}

.login-content {
    margin-bottom: 28px;
}

.login-content a.logo {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    /* margin-bottom: 15px; */
    display: block;
}

.login-content h1 {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 40px;
    color: var(--secondryColor);
    font-weight: 700;
}

.login-form-wrap {
    border: 1px solid var(--borderColor);
    padding: 30px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin-bottom: 24px;
}

.login-form-wrap .input-form {
    margin-bottom: 25px;
    position: relative;
}

.login-form-wrap .input-form label {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
}

.login-form-wrap .input-form:focus label {
    color: var(--primaryColor);
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--iconColor);
}

.login-form-wrap .form-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px !important;
}

.login-form-wrap .form-check label {
    line-height: 25px;
}

.login-form-wrap .form-check label,
.login-form-wrap .form-check a {
    color: var(--lightColor) !important;
    font-size: 14px;
    margin-bottom: 0 !important;
    text-transform: capitalize;
}

.login-form-wrap .form-check a {
    transition: 0.5x;
    -webkit-transition: 0.5x;
    -moz-transition: 0.5x;
    -ms-transition: 0.5x;
    -o-transition: 0.5x;
}

.login-form-wrap .form-check a:hover {
    color: var(--primaryColor) !important;
}

.form-check-input {
    width: 18px !important;
    height: 18px !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    margin-right: 8px;
}

.form-check-input:checked {
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}

.login-form-wrap .btn {
    width: 100%;
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor) !important;
    color: #fff;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    text-transform: capitalize;
}

.login-form-wrap .btn:hover {
    background-color: transparent;
    color: var(--primaryColor);
}

.login-wrapper .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}

.login-wrapper .social-links a {
    width: 56px;
    height: 56px;
    border: 1px solid var(--borderColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.login-wrapper .social-links a:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.create-link a {
    color: var(--secondryColor);
    font-size: 16px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-weight: 500;
}

.create-link a:hover {
    color: var(--primaryColor);
}


/* ========= register ========== */
.login-form-wrap .contact-tab{
    border: none;
    padding: 0;
}

.login-form-wrap .contact-tab form{
    margin-top: 20px;
}




@media only screen and (max-width:768px) {
    .login-form-wrap {
        padding: 20px;
        border: none;
    }

    .login-content {
        margin-bottom: 20px;
    }

    .login-wrapper{
        padding: 40px 0;

    }

    .login-wrapper .social-links {
        gap: 12px;
        margin-top: 22px;
    }

    .login-wrapper .social-links a {
        width: 45px;
        height: 45px;
    }

    .login-form-wrap button.btn {
        padding: 12px;
    }

    .footer-content {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .footer-content .nav {
        gap: 15px;
        margin-bottom: 5px;
        padding-top: 0px;
    }
}

@media only screen and (max-width:767px){
    .navbar-collapse.collapse.show,
    .navbar-collapse.collapsing
    {
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        z-index: 3;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #fff;
        padding: 24px;
    }

    header.login-header{
        padding: 15px 0px 0;
    }

    .login-header .navbar{
        padding: 0 15px 12px;
    }

    .login-header ul{
        align-items: flex-start !important;
    }

    .login-header ul li{
        width: 100%;
        position: relative;
    }

    .login-header ul li::after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background-image: url('../image/left-arrow.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 6px;
        height: 11px;
        color: #94A3B8;
    }

    .login-header ul li:last-child::after{
        display: none;
    }
    
    .login-content h1{
        font-size: 22px;
    }

    footer{
        padding: 40px 20px 24px;
    }

    .footer-bottom{
        padding: 36px 0;
    }

    .app-store .google-app, .app-store .mobile-app{
        max-width: 130px;
    }

    
}

@media only screen and (max-width:575px){

    .footer-content .nav{
        padding-top: 36px;
    }

    .footer-content{
        flex-direction: column;
    } 
    
    .footer-content .nav li{
        flex-basis: 45%;
    }

    .app-store{
        padding-top: 36px;
    }

    .footer-copyright{
        flex-direction: column-reverse;
        align-items: flex-start !important;
    }

    .footer-copyright ul{
        justify-content: space-between;
        padding-bottom: 24px;
        width: 100%;
        gap: 45px;

    }

    
}