/* ====== message-area ======= */

.message-area {
    padding: 32px 0;
    border-top: 1px solid var(--borderColor);
}

#preview_img {
    width: 200px;
    /* Adjust the width as needed */
    height: 200px;
    /* Adjust the height to match the width */
    object-fit: cover;
    /* Ensures the image covers the entire space */
    border-radius: 8px;
    /* Optional: Adds rounded corners */
}

.message-area .massage-notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.massage-notification h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--titleColor);
    margin-bottom: 0;
}

.massage-notification span.badge {
    width: 28px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    background-color: var(--primaryColor);
    color: #fff;
    margin-left: 10px;
}

.message-area .massage-notification .edit-btn:hover path {
    stroke: var(--primaryColor);
}

.chat-area {
    border: 1px solid var(--borderColor);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    justify-content: stretch;
    height: 744px;
    width: 100%;
}

.chat-lists {
    /* padding: 24px 20px; */

    max-width: 375px;
    border-right: 1px solid var(--borderColor);
    position: relative;
    width: 30% !important;
}

.chat-area .chatbox {
    width: 71% !important;
}

.member-lists {
    /* padding: 24px 20px; */
    width: 100%;
    max-width: 375px;
    border-right: 1px solid var(--borderColor);
}

.chat-lists input[type="search"]~span {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.chat-area .dropdown button {
    background-color: transparent !important;
    padding: 5px;
    border: none;
    box-shadow: none !important;
}

.chat-area .dropdown ul li {
    border: none;
    margin: 10px 0;
}

.chat-area .dropdown ul li:last-child {
    margin: 0;
}

.chat-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 23px 20px;
    border-bottom: 1px solid var(--borderColor);
}

.chat-area .chat-header .dropdown-menu.show {
    transform: translate3d(-145px, 43px, 0px) !important;
    -webkit-transform: translate3d(-145px, 43px, 0px) !important;
    -moz-transform: translate3d(-145px, 43px, 0px) !important;
    -ms-transform: translate3d(-145px, 43px, 0px) !important;
    -o-transform: translate3d(-145px, 43px, 0px) !important;
}

.chat-functions {
    display: flex;
    align-items: center;
    width: 100%;
}

.chat-functions span {
    cursor: pointer;
}

.chat-functions h6 {
    font-size: 18px;
    font-weight: 700;
    color: var(--secondryColor);
    margin-bottom: 0;
}

.chat-area .dropdown .dropdown-toggle::after {
    display: none;
}

.chat-area .dropdown-menu.show {
    transform: translate3d(0px, 43px, 0px) !important;
    -webkit-transform: translate3d(0px, 43px, 0px) !important;
    -moz-transform: translate3d(0px, 43px, 0px) !important;
    -ms-transform: translate3d(0px, 43px, 0px) !important;
    -o-transform: translate3d(0px, 43px, 0px) !important;
}

.dropdown-menu.show {
    border: none;
    background-color: #fff;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 16px 5px;
    box-shadow: 0px 5px 40px 0px #0000001A;
}

.chat-area .dropdown .dropdown-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: var(--secondryColor);
}

ul.chat-list {
    padding-left: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    max-height: 570px;
    overflow-y: scroll;
    height: 100%;
}

ul.chat-list li {
    margin: 4px 0;
    border-bottom: 1px solid #F1F5F9;
    padding: 0 0px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

ul.chat-list li.active,
ul.chat-list li:hover {
    background-color: #F8F9FD !important;
}

ul.chat-list li:last-child {
    border-bottom: 0;
}

.chat-list .user-img .active {
    width: 14px;
    height: 14px;
    display: block;
    border: 3px solid #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #0CAF60;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* .chat-list .user-detail{
    width: 55%;
} */

.user-detail h3 {
    font-size: 14px;
    color: var(--secondryColor);
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    max-width: 150px;
    text-transform: capitalize;
}

.user-detail h3#selected-user-name {
    max-width: 100%;

}

.member-lists .chat-data .remove-member {
    position: absolute;
    right: 10px;
    border: none;
    background-color: transparent;

}

.chat-list .chat-data {
    padding: 18px 10px;
    position: relative;
    width: 100%;
}

.user-detail span {
    font-size: 12px;
    color: var(--lightColor);
    width: 100%;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.msg-list .user-detail span {
    max-width: 160px;
}

.loader {
    height: 50px;
    width: 50px;
    position: absolute;
    margin-left: 50%;
    margin-top: 20%;
    z-index: 99999;
    background: white;
}

.chat-list h6 {
    font-size: 12px;
    color: var(--lightColor);
    line-height: 20px;
    margin-bottom: 0;
}

.heart_reaction {
    color: red;
}

.chat-list .badge {
    width: 20px !important;
    height: 20px !important;
    background-color: var(--primaryColor);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-massage {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 160px 0;
}

.seenStatus {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    position: absolute;
    bottom: 3px;
}

.blue-tick {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M9 19L3.5 13.5L5 12L9 16L19 6L20.5 7.5L9 19Z" fill="%23A9A9A9"/><path d="M16 19L10.5 13.5L12 12L16 16L26 6L27.5 7.5L16 19Z" fill="%23A9A9A9"/></svg>');
}

.grey-tick {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M9 19L3.5 13.5L5 12L9 16L19 6L20.5 7.5L9 19Z" fill="%23A9A9A9"/></svg>');
}

.empty-massage .empty-img {
    width: 150px;
    height: 123px;
    margin-bottom: 24px;
    margin: 0 auto 24px;
}

.empty-massage h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--secondryColor);
    line-height: 27px;
}

.empty-massage p {
    font-size: 14px;
    line-height: 23px;
    color: var(--lightColor);
}

.chatbox .msg-head {
    padding: 16px 24px;
    border-bottom: 1px solid #F1F5F9;
}

.chatbox .user-detail {
    margin-left: 10px;
}

.chat-area .msg-head .dropdown-menu.show {
    transform: translate3d(105px, 43px, 0px) !important;
    -webkit-transform: translate3d(105px, 43px, 0px) !important;
    -moz-transform: translate3d(105px, 43px, 0px) !important;
    -ms-transform: translate3d(105px, 43px, 0px) !important;
    -o-transform: translate3d(105px, 43px, 0px) !important;
}

.msg-body {
    padding: 20px 24px;
    position: relative;
    max-height: 580px;
    overflow-y: scroll;
    margin-bottom: 65px;
}

.msg-body ul {
    padding: 0;
}

#listBox input[type="file"]~.position-relative {
    width: 120px;
    margin: 0 auto;
}

#listBox .user-cover-img {
    display: block;
    width: 120px !important;
    height: 120px !important;
    background: inherit;
    margin: 25px auto 0;
}


#listBox .user-cover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#listBox .user-cover-img h5 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 0;
}


#listBox input[type="file"] {
    width: 0;
    overflow: hidden;
    display: none;
}

#listBox .edit-btn {
    position: absolute;
    right: 0;
    border: none;
    bottom: 0;
    width: 35px;
    height: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primaryColor) !important;
    cursor: pointer;
}

#listBox .edit-btn svg path {
    stroke: #fff;
}

.change-group-name .update-group-name {
    margin-top: 14px;
    outline: 0;
    font-size: 15px;
    margin-right: 10px;
    padding-right: 15px !important;
}

.change-group-name .cmn-btn {
    padding: 10px 20px;
    border-radius: 16px;
}

ul.member-lists {
    padding-left: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    max-height: 590px;
    overflow-y: scroll;
    height: 100%;
}

.member-lists .chat-data {
    padding: 10px 10px;
    position: relative;
    align-items: center;
}

ul.group-list {
    max-width: 100%;
    max-height: 400px;
}

ul.group-list .user-detail h3 {
    margin-bottom: 0;
}

ul.group-list .group-admin {
    background: #d6f5d6;
    color: green;
    padding: 5px 5px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    display: inline;
    top: 50%;
    transform: translateY(-50%);
    min-width: 57px;
    text-align: center;
    width: auto;
}

ul.member-lists li {
    margin: 4px 0;
    border-bottom: 1px solid #F1F5F9;
    padding: 0 0px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    cursor: pointer;
}

ul.member-lists li.active,
ul.member-lists li:hover {
    background-color: #F8F9FD !important;
}

ul.member-lists li:last-child {
    border-bottom: 0;
}

.new-member {
    padding-left: 35px;
    margin-top: 20px;
}

.new-member button {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    color: #558f57;
    font-size: 13px;
    padding: 0;
    margin-bottom: 15px;
}

.new-member button:hover {
    color: var(--primaryColor) !important;
    background-color: transparent !important;
}

.new-member button span {
    margin-right: 5px;
}

.msg-body ul li {
    margin: 16px 0;
}

.msg-body ul li.sender {
    max-width: 700px;
}

.msg-body ul li.receiver {
    display: block;
    width: 100%;
    text-align: right;
    position: relative;
    max-width: 700px;
    margin-left: auto;
}

.msg-body ul li.receiver p,
.msg-body ul li.receiver .simple-msg-wrap {
    color: var(--secondryColor);
    font-size: 14px;
    line-height: 20.5px;
    font-weight: 400;
    padding: 10px 29px 10px 19px;
    background: #FFF1F4;
    display: inline-block;
    border-radius: 20px 0px 20px 20px;
    -webkit-border-radius: 20px 0px 20px 20px;
    -moz-border-radius: 20px 0px 20px 20px;
    -ms-border-radius: 20px 0px 20px 20px;
    -o-border-radius: 20px 0px 20px 20px;
    margin-bottom: 5px !important;
    position: relative;
    word-break: break-all;
    text-align: left;
}



.msg-body ul li.receiver p .seenStatus {
    position: absolute;
    right: 8px;
    bottom: 6px;
}

.msg-body ul li.receiver p .reaction {
    width: 22px;
    height: 22px;
    position: absolute;
    left: -3px;
    bottom: -4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px #0000001A;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.msg-body ul li .time {
    display: block;
    color: var(--inputColor);
    font-size: 12px;
    line-height: 20.4px;
    font-weight: 400;
}

.msg-body ul li.sender p,
.msg-body ul li.sender .simple-msg-wrap {
    color: var(--secondryColor);
    display: inline-flex;
    flex-direction: column;
    background-color: #F8F9FD;
    padding: 10px 29px 10px 19px;
    border-radius: 0px 20px 20px 20px;
    -webkit-border-radius: 0px 20px 20px 20px;
    -moz-border-radius: 0px 20px 20px 20px;
    -ms-border-radius: 0px 20px 20px 20px;
    -o-border-radius: 0px 20px 20px 20px;
    margin-bottom: 0px !important;
    position: relative;
    font-size: 12px;
}

.msg-body ul li.sender p .reaction,
.msg-body ul li.sender .simple-msg-wrap .reaction {
    width: 22px;
    height: 22px;
    position: absolute;
    right: -3px;
    bottom: -4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px #0000001A;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-body ul li.sender .reply-section .reaction {
    width: 22px;
    height: 22px;
    position: absolute;
    right: -3px;
    bottom: -4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px #0000001A;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-body ul li.receiver .simple-msg-wrap .reaction {
    width: 22px;
    height: 22px;
    position: absolute;
    left: -3px;
    bottom: -4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px #0000001A;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.msg-body ul li.sender .simple-msg-wrap .senderName {
    font-size: 11px;
    color: red;
}

.msg-body ul li.receiver div img {
    max-width: 100%;
    width: 297px;
    height: 254px;
    object-fit: cover;
    border-radius: 10px;
}

.msg-body ul li.receiver div.media-msg {
    background-color: #FFE4E9;
    padding: 10px 10px 25px;
    border-radius: 20px 0px 20px 20px;
    -webkit-border-radius: 20px 0px 20px 20px;
    -moz-border-radius: 20px 0px 20px 20px;
    -ms-border-radius: 20px 0px 20px 20px;
    -o-border-radius: 20px 0px 20px 20px;
    display: inline-block;
    max-width: 317px;
    margin-left: auto;
    position: relative;
}

.msg-body ul li.receiver div.media-msg .media-text {
    margin-right: 0px;
    margin-top: 0px;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
    margin-top: 11px;
}

.msg-body ul li.sender div.media-msg .media-text {
    margin-right: 0px;
    margin-top: 0px;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
    margin-top: 11px;
}

.msg-body .media-msg span {
    font-size: 12px;
    line-height: 20.4px;
    text-align: right;
    color: var(--secondryColor);
}

.msg-body .media-msg span.seenStatus {
    position: absolute;
    right: 9px;
    bottom: 10px;
}

.msg-body ul li.sender div.media-msg {
    background-color: #F8F9FD;
    padding: 10px;
    border-radius: 20px 0px 20px 20px;
    -webkit-border-radius: 20px 0px 20px 20px;
    -moz-border-radius: 20px 0px 20px 20px;
    -ms-border-radius: 20px 0px 20px 20px;
    -o-border-radius: 20px 0px 20px 20px;
    display: inline-block;
    max-width: 317px;
    /* margin-left: auto; */
    display: flex;
    align-items: center;
    position: relative;
}

.msg-body ul li.sender .media-msg-inline div.media-msg {
    display: inherit;
}

.msg-body ul li.sender .media-msg-inline {
    position: relative;
    max-width: 317px;
    display: inherit;
}

.msg-body ul li.sender .media-msg-inline .reaction-icon {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.msg-body ul li.sender div.media-msg video {
    max-width: 100%;
    width: 297px;
    height: 254px;
    object-fit: cover;
    border-radius: 10px;
}

.msg-body ul li.receiver div.media-msg video {
    max-width: 100%;
    width: 297px;
    height: 254px;
    object-fit: cover;
    border-radius: 10px;
}

.msg-body ul li.sender div img {
    max-width: 100%;
    width: 297px;
    height: 254px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 10px;
}

.msg-footer {
    border-top: 1px solid #F1F5F9;
    display: flex;
    flex-direction: column;
    /* height: 64px; */
    position: absolute;
    width: 100%;
    bottom: 0;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    background: #fff;
    border-bottom-right-radius: 20px;
}

.msg-footer .message-perent {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.msg-footer .message-perent .gap-3 {}

.msg-footer .set-replay-msg {
    margin: 10px 10px 0;
    border-radius: 6px;
    padding: 6px 18px;
    background-color: lightgray;
}

.msg-footer .replay-child {
    display: flex;
}

.msg-footer .replay-child .close-replay {
    margin-left: auto;
    font-size: 18px;
    cursor: pointer;
}

.set-replay-msg .replay-user {
    font-size: 11px;
    color: red;
}

.replay-msg .replay-msg {
    font-size: 14px;
}


.msg-body ul li.receiver .reply-section .reply-massage span {
    word-break: break-all;
}

.msg-footer input {
    width: 90%;
    border: none !important;
    outline: 0 !important;
    box-shadow: none !important;
    padding-left: 0 !important;
    box-shadow: none !important;
}

.msg-footer input:focus {
    border: none !important;
    box-shadow: none !important;
}

/* .msg-footer .dropdown-menu.show{
    transform: translate3d(-150px, -145px, 0px) !important;
    -webkit-transform: translate3d(-150px, -145px, 0px) !important;
    -moz-transform: translate3d(-150px, -145px, 0px) !important;
    -ms-transform: translate3d(-150px, -145px, 0px) !important;
    -o-transform: translate3d(-150px, -145px, 0px) !important;
} */

.msg-footer #preview {
    padding: 10px;
    background-color: #F8F9FD;
    position: relative;
}

.msg-footer .preview-item {
    width: 250px;
    height: 250px;
}

.msg-footer .preview-item video {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.msg-footer .preview-item img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.msg-footer #preview .close-preview {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    border: none;
}

.chat-data .form-check-input:checked {
    background-color: #2DA9FC !important;
    border-color: #2DA9FC !important;
}

.chat-data .form-check-input {
    width: 20px !important;
    height: 20px !important;
    border: 1px solid var(--borderColor) !important;
    margin: 0 !important;
    box-shadow: none !important;
    outline: 0 !important;
}

#msgBox .modal-body {
    padding: 0 !important;
}

.modal-body .inbox {
    background-color: #e9e9ed;
    padding: 10px 24px;
    align-items: flex-start !important;
}

.modal-body .inbox h6 {
    font-size: 14px;
    color: var(--secondryColor);
    font-weight: 500;
    margin-bottom: 0;
}

.modal-body .inbox input {
    height: auto !important;
    width: auto;
    border: none !important;
    border-radius: inherit !important;
    -webkit-border-radius: inherit !important;
    -moz-border-radius: inherit !important;
    -ms-border-radius: inherit !important;
    -o-border-radius: inherit !important;
    box-shadow: none !important;
    background-color: transparent;
    outline: 0 !important;
    padding-left: 5px !important;
}

.modal-body .inbox input:focus {
    border: none !important;
}

#msgBox .modal-footer {
    border: none !important;
}

#msgBox .empty-massage {
    padding: 35px 0 !important;
}

#msgBox form span {
    font-size: 14px;
    font-weight: 500;
}

#msgBox .modal-footer input[type="text"]~span.ms-auto {
    cursor: pointer;
}

.chatbox .button-wrapper {
    position: relative;
    overflow: hidden;
}

.chatbox .button-wrapper span.label {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: var(--secondryColor);
}

.chatbox .button-wrapper #upload {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: auto !important;
}

.msg-footer .dropdown ul li {
    margin: 15px 10px !important;
    cursor: pointer;
}

.msg-body ul li.sender .reply-section {
    background-color: #F8F9FD;
    display: inline-block;
    padding: 10px 29px 10px 19px;
    border-radius: 0px 20px 20px 20px;
    -webkit-border-radius: 0px 20px 20px 20px;
    -moz-border-radius: 0px 20px 20px 20px;
    -ms-border-radius: 0px 20px 20px 20px;
    -o-border-radius: 0px 20px 20px 20px;
    margin-bottom: 2px;
    text-align: left;
    position: relative;
}

.msg-body ul li.sender .reaction-ul {
    position: absolute;
    right: 0;
    bottom: 0;
    justify-content: end;
    display: flex;
    left: 60%;
}

.msg-body ul li.sender .reaction-ul li {
    margin: 0;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px #0000001A;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative !important;
}

.msg-body ul li.receiver .reaction-ul {
    position: absolute;
    left: 15px;
    bottom: 5px;
    justify-content: end;
    display: flex;
    /* right: 60%; */
}

.msg-body ul li.receiver .reaction-ul li {
    margin: 0;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px #0000001A;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: inherit !important;
}

.msg-body ul li.receiver .reply-section {
    background-color: #FFE4E9;
    display: inline-block;
    padding: 10px 29px 10px 19px;
    border-radius: 0px 20px 20px 20px;
    -webkit-border-radius: 0px 20px 20px 20px;
    -moz-border-radius: 0px 20px 20px 20px;
    -ms-border-radius: 0px 20px 20px 20px;
    -o-border-radius: 0px 20px 20px 20px;
    /* margin-bottom: 16px; */
    text-align: left;
    padding-bottom: 2px;
    position: relative;
}

.msg-body ul li .reply-section .senderName {
    font-size: 12px;
    color: red;
}

.msg-body ul li .reply-section .reply-info {
    font-size: 12px;
}

.msg-body ul li .reply-section hr {
    margin: 10px 0;
}

.msg-body ul li.sender>div {
    display: flex;
    align-items: center;
}

#msgBox .chat-user {
    padding: 24px;
    margin: 0 auto;
    text-align: center;
}

#msgBox .chat-user .chat-user-img {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin: 0 auto 16px;
}

#msgBox .chat-user .chat-user-img img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 100%;
    height: 100%;
}

#msgBox .chat-user .chat-user-img h5 {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    border: 1px solid transparent;
    background: linear-gradient(135deg, rgb(255, 247, 240), rgb(255, 200, 163)) rgb(14, 114, 207);
    color: rgb(212, 56, 13);
    font-size: 16px;
}

#msgBox .chat-user h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: var(--secondryColor);
}

#msgBox .chat-user span {
    font-size: 14px;
    color: var(--lightColor);
    line-height: 24px;
}

#msgBox .modal-footer {
    display: block;
    border-top: 1px solid var(--borderColor) !important;
    height: 56px;
}

#msgBox .modal-footer input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    width: 100%;
    margin-right: 15px;
    padding-left: 10px !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    height: auto !important;
}

#msgBox .multi-chat {
    text-align: center;
    margin: 0 auto;
    padding: 24px;
}

#msgBox .multi-chat #group-name {
    margin-top: 14px;
    outline: 0;
}



#msgBox .img-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

#msgBox .multi-img {
    width: 100%;
    max-width: 56px;
    height: 56px;
    border: 3px solid #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: flex;
    align-items: center;
    margin-left: -15px;
}

#msgBox .multi-img img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#msgBox .multi-img h5 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#msgBox .multi-img.more-img {
    background-color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

#msgBox .multi-img.more-img span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

#msgBox .multi-chat h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: var(--secondryColor);
}

#msgBox .multi-chat p {
    font-size: 14px;
    color: var(--lightColor);
    line-height: 24px;
    margin-bottom: 16px !important;
}

#msgBox .multi-chat a {
    font-size: 14px;
    line-height: 22px;
    color: var(--primaryColor);
    text-transform: capitalize;
    font-weight: 500;
}

.ui-autocomplete {
    z-index: 9999 !important;
}

#selected-tags-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    max-height: 260px;
    overflow-y: scroll;
}

#msgBox #selected-tags-container h5,
#msgBox #selected-tags-container img {
    display: none;
}

#selected-tags-container .tag {
    display: inline-block;
    background-color: #ffffff;
    color: #333;
    padding: 3px 8px;
    margin-right: 5px;
    font-size: 14px;
    box-shadow: 0px 5px 10px 0px #00000008;
    border-radius: 100px;
    border: none;
    margin-bottom: 6px;
}

#selected-tags-container .close-btn {
    cursor: pointer;
    margin-left: 10px;
}

.new-members-add {
    padding: 10px 0px 20px;
}

.new-members-add .cmn-btn {
    margin-top: 15px;
    margin-left: 25px;
}

#group-selected-tags-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    max-width: 428px;
    overflow-y: scroll;
}

#group-selected-tags-container .tag {
    display: inline-block;
    background-color: #ffffff;
    color: #333;
    padding: 3px 8px;
    margin-right: 5px;
    font-size: 14px;
    box-shadow: 0px 5px 10px 0px #00000008;
    border-radius: 100px;
    border: none;
    margin-bottom: 6px;
}

#group-selected-tags-container .close-group-btn {
    margin-left: 10px;
}

.reaction-icon,
.reply-icon {
    cursor: pointer;
    margin-left: 7px;
    padding: 2px;
    border-radius: 50%;
    position: relative;
}

.reaction-dialog {
    position: absolute;
    bottom: -45px;
    right: -35px;
    display: flex;
    gap: 5px;
    background-color: #fff;
    padding: 5px;
    position: absolute;
    box-shadow: 0px 5px 40px 0px #0000001A;
    border-radius: 20px 0px 20px 20px;
    -webkit-border-radius: 20px 0px 20px 20px;
    -moz-border-radius: 20px 0px 20px 20px;
    -ms-border-radius: 20px 0px 20px 20px;
    -o-border-radius: 20px 0px 20px 20px;
    Padding: 10px 20px 10px 20px;
}

.reaction-option {
    cursor: pointer;
    font-size: large;
}

.msg-lists .simple-message {
    /* display: flex;
    align-items: center; */
    position: relative;
}

.msg-lists .sender .simple-message {
    display: flex;
    align-items: center;
}

.msg-lists .sender .simple-message .reaction-ul {
    position: absolute;
    bottom: -11px;
    right: -4px;
    display: flex;
    left: 60%;
    justify-content: end;
}


.msg-lists .receiver .simple-message .reaction-ul {
    position: absolute;
    bottom: 0px;
    left: -5px;
    display: flex;
    right: 60%;
    justify-content: end;
}

.msg-lists .sender .simple-message .reaction-ul .reaction,
.msg-lists .receiver .simple-message .reaction-ul .reaction {
    position: initial;
}

.modal-header .selected-title {
    margin-bottom: 0;
    cursor: pointer;
}

#archive-list,
#unarchive-list {
    background: transparent;
    border-radius: 16px;
    padding: 8px 20px;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    box-shadow: none;
    outline: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin-top: 10px;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

#archive-list:hover,
#unarchive-list:hover {
    background-color: var(--primaryColor);
    color: #fff;
}

.audio-container {
    position: absolute;
    right: 15px;
    top: 50%;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
}

.audio-container .close-audio-btn {
    border: none;
    background-color: transparent;
    box-shadow: none;
    margin-left: 10px;
}

#stopRecording {
    border: none;
    background-color: transparent;
    box-shadow: inherit;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}

.day-line {
    font-size: 16px;
    color: #000;
    text-align: center;
    /* position: relative; */
}

.day-line span {
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 12px;
    z-index: 1;
    font-size: 15px;
    color: #8d8888;
}

.day-line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.day-line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* ======= responsive ======== */


@media only screen and (max-width:1500px) {
    .chat-area .msg-head .dropdown-menu.show {
        transform: translate3d(0px, 43px, 0px) !important;
        -webkit-transform: translate3d(0px, 43px, 0px) !important;
        -moz-transform: translate3d(0px, 43px, 0px) !important;
        -ms-transform: translate3d(0px, 43px, 0px) !important;
        -o-transform: translate3d(0px, 43px, 0px) !important;
    }
}

@media only screen and (max-width:1400px) {
    .msg-list .user-detail span {
        max-width: 115px;
    }
}

@media only screen and (max-width:1200px) {
    .msg-list .user-detail span {
        max-width: 110px;
    }

    .chat-lists {
        width: 35% !important;
    }

    .chat-area .chatbox {
        width: 65% !important;
    }

    .user-detail h3 {
        max-width: 115px;
    }
}

@media only screen and (max-width:992px) {
    .chat-lists {
        width: 40% !important;
    }

    ul.chat-list {
        padding: 10px 10px;
    }

    .chat-area .chatbox {
        width: 60% !important;
    }
}

@media only screen and (max-width:991px) {
    .msg-list .user-detail span {
        max-width: 80px;
    }
}



@media only screen and (max-width:768px) {
    .chat-area {
        flex-direction: column;
        border: none;
        height: auto;
    }

    .chat-lists {
        border: 1px solid var(--borderColor);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        max-width: 100%;
    }

    .empty-massage {
        margin-top: 20px;
    }

    .chatbox {
        border: 1px solid var(--borderColor);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        margin-top: 20px;
    }

    .chat-header {
        padding: 10px 20px;
    }

    .msg-footer {
        border-bottom-left-radius: 20px;
    }

    .message-area ul.chat-list {
        margin-bottom: 70px !important;
    }

    .chat-lists {
        width: 100% !important;
    }

    .chat-area .chatbox {
        width: 100% !important;
    }

    .msg-list .user-detail span {
        max-width: 320px;
    }
}

@media only screen and (max-width:763px) {
    .chat-area .chat-header .dropdown-menu.show {
        transform: translate3d(0px, 43px, 0px) !important;
        -webkit-transform: translate3d(0px, 43px, 0px) !important;
        -moz-transform: translate3d(0px, 43px, 0px) !important;
        -ms-transform: translate3d(0px, 43px, 0px) !important;
        -o-transform: translate3d(0px, 43px, 0px) !important;
    }
}

@media only screen and (max-width:620px) {
    .chat-area .dropdown-menu.show {
        transform: translate3d(0px, 43px, 0px) !important;
        -webkit-transform: translate3d(0px, 43px, 0px) !important;
        -moz-transform: translate3d(0px, 43px, 0px) !important;
        -ms-transform: translate3d(0px, 43px, 0px) !important;
        -o-transform: translate3d(0px, 43px, 0px) !important;
    }
}

@media only screen and (max-width:575px) {
    .chat-lists {
        padding: 0px 0px;
    }

    /* .chat-list .user-detail {
        width: 45%;
    } */

    .chat-header {
        margin-bottom: 5px;
    }

    .msg-body ul li.receiver div img {
        width: 100%;
        height: 155px;
    }

    .msg-body ul li.receiver div.media-msg {
        width: 220px;
        /* height: 220px; */
    }

    .msg-body ul li.sender div img {
        width: 100%;
        height: 100%;
    }

    .msg-body ul li.sender div.media-msg {
        width: 220px;
        /* height: 220px; */
    }

    .msg-body ul li.sender,
    .msg-body ul li.receiver {
        width: 100%;
        max-width: 100%;
    }

    .msg-body ul li.receiver .reply-section {
        padding: 10px 10px 10px 19px;
    }

    .msg-list .user-detail span {
        max-width: 190px;
    }

    .msg-body ul li.sender div.media-msg video {
        width: 100%;
        height: 100%;
    }

    .msg-body ul li.sender .media-msg-inline {
        max-width: 220px;
    }
}

@media only screen and (max-width:420px) {
    .message-area .massage-notification {
        flex-direction: column;
        align-items: flex-start;
    }

    .massage-notification .cmn-btn {
        width: 100%;
        margin-top: 10px;
    }

    .msg-list .user-detail span {
        max-width: 130px;
    }

}

@media only screen and (max-width:390px) {
    .user-detail span {
        max-width: 100px;
    }

    .msg-list .user-detail span {
        max-width: 80px;
    }
}