@import url("./common.css");
@import url("./font.css");
@import url("./variable.css");
@import url("./login.css");
@import url("./contact.css");
@import url("./profile.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./home.css");
@import url("./about-us.css");
@import url("./privacy.css");
@import url("./account.css");
@import url("./change-pwd.css");
@import url("./notification.css");
@import url("./edit-profile.css");
@import url("./rsvp.css");