@import url('./fonts.css');
@import url('./var.css');
@import url('./header.css');
@import url('./home.css');
@import url('./mainmenu.css');
@import url('./potluck.css');
@import url('./guest.css');
@import url('./calender.css');
@import url('./about-rsvp.css');
@import url('./photo-tab.css');
@import url('./newrsvp.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

.new-main-content svg{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.cmn-btn{
    font-family: var(--SFProDisplay-Semibold);
    font-size: 18px;
    line-height: 18px;
    color: var(--white);
    background-color: var(--pink);
    border: 1px solid var(--pink);;
    padding: 10px 30px;
    border-radius: 16px;
    transition: 0.3s;
}
.cmn-btn:hover{
    border: 1px solid var(--pink) !important;
    background-color: transparent !important;
    color: var(--pink) !important;
}



/* ========= order-history model css ========= */
#payment .master-card{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F1F2F4;
    margin-right: 16px;
}

#payment .master-card img{
    width: 27px;
    height: 18px;
}

#payment .payment-method-list{
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #F1F5F9;
}

#payment .payment-method-list:first-child{
    padding-top: 0;
}

#payment .payment-method-list .card-data h5{
    color: var(--secondary-black);
    font-family: var(--SFProDisplay-Semibold);
    font-size: 16px;
    margin-bottom: 2px;
}

#payment .payment-method-list .card-data span{
    color: var(--light-color);
    font-size: 12px;
    font-family: var(--SFProDisplay-Regular);
}

#payment .payment-method-list .main-method-btn{
    background-color: var(--secondary-black);
    border: 1px solid var(--secondary-black);
    padding: 6px 22px;
    color: #fff;
    font-size: 13px;
    font-family: var(--SFProDisplay-Medium);
    border-radius: 10px;
    margin-right: 16px;
    max-width: 120px;
    width: 100%;
}

#payment .payment-method-list .main-btn{
    background-color: transparent;
    border: 1px solid var(--border);
    padding: 6px 22px;
    color: var(--secondary-black);
    font-size: 13px;
    font-family: var(--SFProDisplay-Medium);
    border-radius: 10px;
    margin-right: 16px;
    max-width: 120px;
    width: 100%;
}

#payment .payment-method-list .edit-btn{
    margin-right: 16px;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

#payment .payment-method-list .edit-btn svg{
   width: 18px;
   height: 18px;
}

#payment .payment-method-list .delete-btn{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

#payment .payment-method-list .delete-btn svg{
   width: 18px;
   height: 18px;
}

#payment .modal-footer{
    border: none;
}

#payment .modal-footer .payment-btn{
    background-color: transparent;
    border: 1px solid var(--border);
    color: var(--secondary-black);
}

#Subscript .pro-account{
    background: linear-gradient(266.99deg, #AE3BE4 -4.33%, #F73C71 124.92%);
    display: flex;
    align-items: center;
    padding: 16px 20px;
    border-radius: 16px;
    margin-bottom: 18px;
}

#Subscript .pro-account svg{
    width: 16px;
    height: 13px;
}

#Subscript .pro-account h5{
    color: var(--white);
    font-size: 16px;
    margin-left: 10px;
    font-family: var(--SFProDisplay-Semibold);
    margin-bottom: 0;
}

#Subscript .pro-content p{
    font-size: 14px;
    color: var(--light-color);
    font-family: var(--SFProDisplay-Regular);
    margin-bottom: 0;
}

#Subscript .pro-content p span{
    color: var(--secondary-black);
}

#Subscript .modal-footer{
    border: none;
}


/* ======== order-history page css ========= */
.order-history-wrp{
    padding: 32px 0;
}

.order-history h5{
    color: #050505;
    font-size: 24px;
    margin-bottom: 16px;
    font-family: var(--SFProDisplay-Bold);
}

.order-history .history-box{
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 20px;
}

.order-history .history-box table{
    width: 100%;
}

.history-box .history-date h5{
   font-size: 16px;
   font-family: var(--SFProDisplay-Regular);
   margin-bottom: 3px;
}

.history-box .history-date h5 span{
    font-size: 16px;
    color: var(--secondary-black);
    font-family: var(--SFProDisplay-Semibold);
    border-bottom: 2px solid var(--secondary-black);
}

.history-box .history-date span{
    color: var(--light-color);
    font-family: var(--SFProDisplay-Regular);
    font-size: 12px;
}

.order-history .history-box tbody tr td:nth-child(1){
    width: 800px;
}

.order-history .history-box tbody tr td:nth-child(2){
    width: 300px;
}

.order-history .history-box tbody tr td:nth-child(3){
    width: 200px;
}

.order-history .history-box tbody tr{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border);
    width: 100%;
    display: block;
}

.order-history .history-box tbody tr:nth-child(1){
    padding-top: 0;
}

.order-history .history-box tbody tr:last-child{
    border-bottom: 0;
    padding-bottom: 0;
}

.order-history .history-box h6{
    color: var(--secondary-black);
    font-size: 16px;
    font-family: var(--SFProDisplay-Semibold);
}

/* ======== responsive ========== */
@media only screen and (max-width:424px){
    #payment .payment-method-list .main-method-btn{
        max-width: 100px;
        padding: 6px 15px;
        margin-right: 9px;
        font-size: 11px;
    }

    #payment .payment-method-list .edit-btn{
        margin-right: 8px;
    }

    #payment .master-card{
        width: 100%;
        height: 40px;
        max-width: 40px;
    }

    #payment .payment-method-list .main-btn{
        max-width: 100px;
        padding: 6px 15px;
        margin-right: 9px;
        font-size: 11px;
    }

    #payment .payment-method-list .card-data h5{
        font-size: 14px;
    }

    .history-box .history-date h5{
        font-size: 14px;
    }

    .history-box .history-date h5 span{
        font-size: 14px;
    }

    .order-history .history-box h6{
        font-size: 14px;
    }
}
