.about-details h4.title{
    color: var(--primary-black);
    font-size: 20px;
    font-family: var(--SFProDisplay-Bold);
    margin-bottom: 20px;
}

.birth-details .birth-img{
  width: 67px;
  height: 66px;
  margin-right: 16px;
}

.birth-details .birth-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.birth-details .birth-host h5{
    color: var(--secondary-black);
    font-size: 20px;
    font-family: var(--SFProDisplay-Bold);
    margin-bottom: 8px;
}

.birth-details .birth-host span{
    font-size: 14px;
    font-family: var(--SFProDisplay-Regular);
    color: var(--lightgreay);
}

.birth-details .birth-host span span{
    color: var(--secondary-black);
}

.birth-details .host-detail{
    margin-top: 24px;
    margin-bottom: 15px;
}

.birth-details .host-detail ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.birth-details .host-detail li{
    width: 50%;
    list-style-type: disc !important;
    list-style-position: inside;
    color: var(--secondary-black);
    font-size: 15px;
    font-family: var(--SFProDisplay-Bold);
    margin-bottom: 5px;
}


.birth-details .hosted-by-date-time-left:first-child::before{
    display: none;
}

.birth-details .hosted-by-date-time-left:last-child{
    padding-left: 13px;
}

.birth-details .hosted-by-date-time-left:last-child::before{
    display: block;
    left: 0;
    right: auto;
}

.birth-details .countdown-event{
   border: 1px solid var(--border);
   border-radius: 16px;
   padding: 16px;
   margin-bottom: 20px;
}

.birth-details .countdown-event span svg{
    width: 14px;
    height: 14px;
}

.birth-details .countdown-event h5{
    color: var(--secondary-black);
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 0;
    font-family: var(--SFProDisplay-Semibold);
}

.countdown-event .countevent-head{
    margin-bottom: 22px;
}

.countevent-counter-box{
    display: flex;
    justify-content: center;
}

.countevent-counter-box .countevent-counter{
    width: 168px;
    height: 80px;
    text-align: center;
    position: relative;
}

.countevent-counter-box .countevent-counter h4{
   color: var(--secondary-black);
   font-size: 32px;
   font-family: var(--SFProDisplay-Bold);
   margin-bottom: 10px;
}

.countevent-counter-box .countevent-counter span{
    color: #A0AEC0;
    font-size: 14px;
    font-family: var(--SFProDisplay-Medium);
}

.countevent-counter .colon-img{
    position: absolute;
    right: 0;
    width: 6px;
    height: 16px;
    top: 12px;
}

.birth-details .detail-btn-wrp{
    display: flex;
    align-items: center;
    gap: 16px;
}

.birth-details .detail-btn-wrp .btn{
    display: block;
    width: 50%;
    text-align: center;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--pink);
    border: 1px solid var(--pink);
    display: inline-block;
    transition: 0.5s;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-family: var(--SFProDisplay-Semibold);
}

.birth-details .detail-btn-wrp .add-calender{
    border-radius: 8px;
    background-color: transparent !important;
    border: 1px solid var(--border);
    color: var(--secondary-black);
}

.birth-details .detail-btn-wrp svg{
    width: 16px;
    height: 16px;
    margin-left: 6px;
}

.detail-btn-wrp .noattending-btn{
   background-color: #DE3110 !important;
   border: 1px solid #DE3110 !important;
}

.detail-btn-wrp .attending-btn{
    background-color: #23AA26 !important;
    border: 1px solid #23AA26 !important;
}

.host-users-detail h4.title{
    margin-bottom: 20px;
    color: var(--primary-black);
    font-size: 20px;
    font-family: var(--SFProDisplay-Bold);
}

.host-user-con-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
}

.host-users-detail .img-wrp{
    width: 100px;
    height: 100px;
    margin: 0 auto 16px;
}

.host-users-detail .img-wrp img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.host-users-detail .host-user-con{
    text-align: center;
}

.host-users-detail .host-user-con h5{
    color: var(--secondary-black);
    font-size: 18px;
    font-family: var(--SFProDisplay-Semibold);
    margin-bottom: 8px;
}

.host-users-detail .host-user-con span{
    color: #A0AEC0;
    font-size: 14px;
    margin-bottom: 9px;
    font-family: var(--SFProDisplay-Medium);
    display: block;
}

.host-users-detail .host-user-con .msg-btn{
    display: inline-block;
    border: 1px solid var(--border);
    border-radius: 10px;
    text-align: center;
    color: var(--secondary-black);
    font-size: 14px;
    font-family: var(--SFProDisplay-Semibold);
    padding: 10px 44px;
}

.host-users-detail p{
    text-align: center;
    color: var(--secondary-black);
    font-size: 20px;
    font-family: var(--SFProDisplay-Italic);
    margin-top: 24px;
    margin-bottom: 0;
}

.location-wrp h4.title{
    margin-bottom: 11px;
    color: var(--primary-black);
    font-size: 20px;
    font-family: var(--SFProDisplay-Bold);
}

.location-wrp h5{
    font-size: 18px;
    color: var(--secondary-black);
    margin-bottom: 6px;
    font-family: var(--SFProDisplay-Bold);
}

.location-wrp p{
    font-size: 18px;
    color: var(--secondary-black);
    font-family: var(--SFProDisplay-Regular);
}

.location-wrp #map iframe{
    width: 100%;
    height: 198px;
    border-radius: 16px;
}

.location-wrp .direction-btn{
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
    font-family: var(--SFProDisplay-Semibold);
    display: inline-block;
    transition: 0.5s;
    font-size: 15px;
    border-radius: 10px;
    background-color: transparent !important;
    border: 1px solid var(--border);
    color: var(--secondary-black);
    width: 100%;
    margin-top: 16px;
}

.location-wrp #map{
    position: relative;
}

.location-wrp #map img.marker{
   max-width: 35px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.schedule-wrp h4.title{
    font-size: 18px;
    font-family: var(--SFProDisplay-Semibold);
    color: var(--secondary-black);
    margin-bottom: 5px;
}

.schedule-wrp span.timing{
    color: var(--lightgreay);
    font-size: 14px;
    font-family: var(--SFProDisplay-Regular);
    margin-bottom: 10px;
    display: block;
}

.schedule-wrp .shedule-img{
   width: 100%;
   margin-bottom: 16px;
   display: block;
}


.schedule-wrp .shedule-manage-timing{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 12px;
   position: relative;
}

.schedule-wrp .shedule-manage-timing:last-child{
    margin-bottom: 0;
}

.schedule-wrp .shedule-box{
    padding: 10px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 90%;
}

.schedule-wrp .shedule-box.green{
    background-color: #F3FFFA;
    border-left: 4px solid #2EB67D;
}

.schedule-wrp .shedule-timing h6{
    color: #111827;
    margin-bottom: 0;
    font-size: 14px;
    font-family: var(--SFProDisplay-Semibold);
}

.schedule-wrp .shedule-box h6{
    color: #111827;
    font-size: 16px;
    margin-bottom: 4px;
    font-family: var(--SFProDisplay-Semibold);
}

.schedule-wrp .shedule-box-left span{
  color: var(--lightgreay);
  font-size: 14px;
  font-family: var(--SFProDisplay-Regular);
}

.schedule-wrp .shedule-box span.hrs{
    color: var(--lightgreay);
    font-size: 14px;
    font-family: var(--SFProDisplay-Regular);
}

.schedule-wrp .shedule-box.yellow{
    background-color: #FFFCF0;
    border-left: 4px solid #FCCD1E;
}

.schedule-wrp .shedule-box.pink{
    background-color: #FFF6FD;
    border-left: 4px solid #C837AB;
}

.schedule-wrp .shedule-box.blue{
    background-color: #EFFBFF;
    border-left: 4px solid #3ABEEA;
}

.schedule-wrp .shedule-box.red{
    background-color: #FFF8FA;
    border-left: 4px solid #FF4F84;
}

.schedule-wrp .shedule-manage-timing img{
    position: absolute;
    bottom: -25px;
    left: 15px;
    width: 5px;
    height: 38px;
}

.gift-register h4.title{
    font-size: 18px;
    color: var(--secondary-black);
    font-family: var(--SFProDisplay-Semibold);
    margin-bottom: 8px;
}

.gift-register span{
    color: var(--lightgreay);
    font-size: 14px;
    font-family: var(--SFProDisplay-Regular);
    display: block;
    margin-bottom: 16px;
}

.gift-register .play-store{
    display: flex;
    align-items: center;
    gap: 12px;
}

.gift-register .play-store .play-store-btn{
    border: 1px solid var(--border);
    border-radius: 16px;
    width: 50%;
    padding: 10px;
    height: 70px;
    text-align: center;
}

.gift-register .target-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.gift-register .target-btn img{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.gift-register .target-btn h6{
    color: var(--primary-black);
    font-size: 20px;
    font-family: var(--SFProDisplay-Medium);
    margin-bottom: 0;
}

.gift-register .amazon-btn{
    display: inline-block;
}

.gift-register .amazon-btn img{
    max-width: 140px;
    margin: 0 auto;
    object-fit: contain;
}

.about-rsvp .about-rs-img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
    border-radius: 100%;
}


.about-rsvp .modal-header h4{
    font-size: 18px;
    color: var(--secondary-black);
    font-family: var(--SFProDisplay-Bold);
}

.about-rsvp .modal-header span{
    color: var(--lightgreay);
    font-family: var(--SFProDisplay-Regular);
    font-size: 12px;
}

.about-rsvp .modal-header span span{
    color: var(--secondary-black);
}

.about-rsvp .host-detail h5{
    font-size: 14px;
    color: var(--secondary-black);
    margin-bottom: 7px;
    font-family: var(--SFProDisplay-Bold);
    margin-bottom: 12px;
}

.about-rsvp .host-detail ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.about-rsvp .host-detail li {
    width: 50%;
    list-style-type: disc !important;
    list-style-position: inside;
    color: var(--secondary-black);
    font-size: 14px;
    font-family: var(--SFProDisplay-Medium);
    margin-bottom: 7px;
}

.about-rsvp .rsvp-custom-radio{
    margin-top: 10px;
}

.about-rsvp .rsvp-custom-radio h6{
    font-size: 14px;
    color: var(--secondary-black);
    font-family: var(--SFProDisplay-Bold);
    margin-bottom: 10px;
}

.about-rsvp .rsvp-input-form{
    display: flex;
    align-items: center;
    gap: 16px;
}


.about-rsvp .rsvp-input-form .input-form{
    width: 50%;
    margin-bottom: 18px;
}


.about-rsvp .rsvp-msgbox .input-form textarea{
    border: 1px solid var(--border) !important;
    border-radius: 16px !important;
    margin-top: 10px;
    color: var(--secondary-black);
    font-size: 13px !important;
    font-family: var(--SFProDisplay-Regular);
    height: 107px;
    box-shadow: none;
    outline: 0;
    padding-top: 13px;
}

.about-rsvp .rsvp-msgbox label{
    color: var(--lightgreay);
    font-size: 14px;
    font-family: var(--SFProDisplay-Regular);
}

.about-rsvp .rsvp-msgbox .input-form{
    margin-bottom: 10px;
}

.about-rsvp .rsvp-msgbox h5{
   font-size: 16px;
   color: var(--secondary-black);
   font-family: var(--SFProDisplay-Semibold);
   margin-bottom: 20px;
}

.about-rsvp .rsvp-msgbox h6{
    color: var(--lightgreay);
    font-size: 12px;
    font-family: var(--SFProDisplay-Regular);
    margin-bottom: 0;
    margin-left: 5px;
}

.about-rsvp .modal-footer{
    margin-top: 30px;
}

#aboutsuccess .modal-header{
    margin-bottom: 0;
}

#aboutsuccess .guest-rsvp-attend input[type=radio]:checked ~ label{
    border: 1px solid var(--green) !important;
}

#aboutsuccess .guest-rsvp-attend input[type=radio]:checked ~ label:after{
    background-color: var(--green) !important;
    border-color: var(--green) !important;
}

#aboutsuccess .guest-rsvp-attend .rsvp-no-checkbox input[type=radio]:checked ~ label{
    border: 1px solid var(--pink) !important;
}

#aboutsuccess .guest-rsvp-attend .rsvp-no-checkbox input[type=radio]:checked ~ label svg path{
    stroke: #E03137;
}

#aboutsuccess .guest-rsvp-attend .rsvp-no-checkbox input[type=radio]:checked ~ label::after{
    background-color: var(--pink) !important;
    border-color: var(--pink) !important;
}


#aboutsuccess .rsvp-guest h5{
    font-size: 14px;
    font-family: var(--SFProDisplay-Bold);
    color: var(--secondary-black);
    margin-bottom: 8px;
} 

.rsvp-guest .rsvp-guest-count{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 22px;
}

.rsvp-guest .rsvp-guest-count .qty-container{
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
}

.rsvp-guest .rsvp-guest-count .qty-container button{
    width: 100%;
    max-width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #2DA9FC;
    border: 1px solid transparent;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rsvp-guest .rsvp-guest-count .qty-container button i{
    color: #fff;
}

.rsvp-guest .rsvp-guest-count .qty-container input{
    border: none;
    outline: 0;
    font-size: 14px;
    color: var(--secondary-black);
    font-family: var(--SFProDisplay-Regular);
    width: 100%;
    text-align: center;
    padding: 0px;
}

.rsvp-guest .rsvp-guest-count h6{
    font-size: 14px;
    color: var(--secondary-black);
    font-family: var(--SFProDisplay-Regular);
    margin-bottom: 6px;
}

.about-details .about-slider{
    display: none;
}

.about-details .hosted-by-date-time .hosted-by-date-time-left-icon{
    width: 100%;
    max-width: 25px;
    height: 25px;
}

.about-details .hosted-by-date-time svg path{
    stroke: #000;
}


/* ========= responsive =========== */
@media only screen and (max-width:1399px){
    .birth-details .hosted-by-date-time{
        flex-direction: row;
    }

    
    .apexcharts-inner {
        transform: translate(16%, 0);
    }

}

@media only screen and (max-width:1199px){
    .schedule-wrp .shedule-box{
        width: 85%;
    }
    .apexcharts-inner {
        transform: translate(20%, 0);
    }
}

@media only screen and (max-width:991px){
    .apexcharts-inner {
        transform: translate(25%, 0);
    }
}

@media only screen and (max-width:767px){
    .schedule-wrp .shedule-box{
        width: 87%;
    }
    .apexcharts-inner {
        transform: translate(14%, 0);
    }
    
}

@media only screen and (max-width:575px){
    .birth-details .host-detail li{
        width: 100%;
    }

    .location-wrp p{
        font-size: 16px;
    }

    .birth-details .detail-btn-wrp .btn{
        padding: 12px 10px;
    }

    .schedule-wrp .shedule-box {
        width: 85%;
    }

    .about-details .about-slider{
        display: block;
    }
    
}

@media only screen and (max-width:424px){
    .birth-details .hosted-by-date-time{
        flex-direction: column;
    }

    .birth-details .hosted-by-date-time-left:last-child{
        padding-left: 0;
        margin-top: 8px;
    }

    .birth-details .hosted-by-date-time-left:last-child::before{
        display: none;
    }

    .birth-details .detail-btn-wrp{
        gap: 8px;
    }

    .birth-details .detail-btn-wrp .btn{
        padding: 12px 10px;
        font-size: 12px;    
    }

    .host-user-con-box{
        flex-direction: column;
    }

    .host-users-detail p{
        font-size: 18px;
    }

    .host-users-detail p br{
        display: none;
    }

    .schedule-wrp .shedule-box {
        width: 80%;
    }

    .schedule-wrp .shedule-box h6{
        font-size: 14px;
    }
}

  @media only screen and (max-width: 399px){
    .apexcharts-inner {
      transform: translate(8%, 0);
    }
  }
  @media only screen and (max-width: 379px){
    .apexcharts-inner {
      transform: translate(5%, 0);
    }
  }