@font-face {
    font-family: 'SFProDisplay-HeavyItalic';
    src: url('../../../fonts/new/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('../../../fonts/new/SFProDisplay-HeavyItalic.woff2') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Bold';
    src: url('../../../fonts/new/SFProDisplay-Bold.woff2') format('woff2'),
        url('../../../fonts/new/SFProDisplay-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-SemiboldItalic';
    src: url('../../../fonts/new/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('../../../fonts/new/SFProDisplay-SemiboldItalic.woff2') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Medium';
    src: url('../../../fonts/new/SFProDisplay-Medium.woff2') format('woff2'),
        url('../../../fonts/new/SFProDisplay-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('../../../fonts/new/SFProDisplay-Regular.woff2') format('woff2'),
        url('../../../fonts/new/SFProDisplay-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Semibold';
    src: url('../../../fonts/new/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../../../fonts/new/SFProDisplay-Semibold.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}