@font-face {
    font-family: 'SFProDisplay-HeavyItalic';
    src: url('/public/assets/fonts/new_design/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('/public/assets/fonts/new_design/SFProDisplay-HeavyItalic.woff2') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Bold';
    src: url('/public/assets/fonts/new_design/SFProDisplay-Bold.woff2') format('woff2'),
        url('/public/assets/fonts/new_design/SFProDisplay-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-SemiboldItalic';
    src: url('/public/assets/fonts/new_design/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('/public/assets/fonts/new_design/SFProDisplay-SemiboldItalic.woff2') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Medium';
    src: url('/public/assets/fonts/new_design/SFProDisplay-Medium.woff2') format('woff2'),
        url('/public/assets/fonts/new_design/SFProDisplay-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('/public/assets/fonts/new_design/SFProDisplay-Regular.woff2') format('woff2'),
            url('/public/assets/fonts/new_design/SFProDisplay-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Semibold';
    src: url('/public/assets/fonts/new_design/SFProDisplay-Semibold.woff2') format('woff2'),
         url('/public/assets/fonts/new_design/SFProDisplay-Semibold.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Italic';
    src: url('/public/assets/fonts/new_design/SF-Pro-Display-RegularItalic.woff') format('woff2'),
        url('/public/assets/fonts/new_design/SF-Pro-Display-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}